{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne : Top Talent Management & Free HRMS Solutions{% endblock %}
{% block og_description %}At Sevendyne, we connect businesses with top talent and offer free HRMS software to streamline HR operations, reduce costs, and support business growth.{% endblock %}
{% comment %} {% block og_image %}https://example.com/my-custom-image.jpg{% endblock %} {% endcomment %}
{% block og_url %}https://sevendyne.com/app/main/about/{% endblock %}
{% block title %}About Us - Sevendyne HRMS{% endblock %}

{% load static %}


{% block content %}


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- About Us Section -->
<div id="about" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-12 text-start">
                        <img class="img-fluid w-100" src="{% static 'job_portal/img/about1.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Unlock Success with Sevendyne's Comprehensive IT Solutions</h1>
                <p class="mb-4">Founded in 2016, Sevendyne began as a small freelancing venture and has since evolved into a leading provider of remote tech staffing solutions. Our journey started with building a dedicated remote tech team for a UK client, which laid the foundation for our expertise in creating high-performing teams. Over the years, we have successfully built and managed remote teams for clients across the globe, including in the US, Germany, Malaysia, Singapore, and beyond.</p>
                <p class="mb-4">At Sevendyne, we are committed to helping businesses thrive by providing tailored IT solutions that meet their unique needs. Our comprehensive suite of services is designed to enhance business operations through innovative technology, expert talent management, and efficient HR solutions. Whether you need cutting-edge software development, strategic talent management, or seamless payroll and HR services, Sevendyne has the expertise to drive your success.</p>
                <p class="mb-4">Our HRMS platform is the cornerstone of our remote staffing solutions, offering businesses an easy-to-use, free tool to manage their global teams. We take pride in our ability to connect clients with top-tier remote tech talent, ensuring that each team member is selected and managed to deliver optimal performance. Our experience in working with clients across various industries and regions has equipped us with the insights and skills to handle diverse business challenges, making us a trusted partner for your IT and staffing needs.</p>
                <ul class="mb-4">
                    <li>Remote Tech Staffing: Build and manage high-performing remote teams with ease using our HRMS platform.</li>
                    <li>Talent Management: Optimize team performance with our effective talent management strategies.</li>
                    <li>Resource Nourishment: Enhance skills and adaptability through targeted training programs.</li>
                    <li>HR and Payroll Services: Streamline payroll processing, HR management, and compliance.</li>
                    <li>Employer of Record (EOR): Seamlessly manage remote employment and administrative responsibilities.</li>
                </ul>
                <p class="mb-4">Contact us today to discover how Sevendyne’s tailored IT and staffing solutions can elevate your business. Let us help you build the future of your workforce with our expertise in remote tech staffing and comprehensive HR services.</p>
            </div>
        </div>
    </div>
</div>
<!-- End About Us Section -->

{% endblock %}
