{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne: IT Supports, Solutions and Skills{% endblock %}
{% block og_description %}At Sevendyne, we specialize in IT Supports, Solutions and Skillsto enhance your team's capabilities and drive business growth. Discover how our tailored solutions can empower your organization.{% endblock %}
{% block og_url %}https://Sevendyne.com/{% endblock %}
{% block title %}Sevendyne: Empowering Enterprises with Tech Development, Team Building, and Training Skills{% endblock %}


{% load static %}

{% block content %}


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Client Projects</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Portfolio</li>
            </ol>
        </nav>

    </div>
</div>
<!-- Header End -->

<section id="hrms-payroll" class="custom-app-development bg-light" style="margin-bottom:3%;margin-top:3%">
    <div class="container">
        <div class="section-title text-center">
            <h1>Client Projects</h1>
           <p class="separator">At Sevendyne, we excel in delivering comprehensive app development services tailored to your business needs. Our expert team specializes in building high-quality mobile and web applications, utilizing the latest technologies to create innovative and user-friendly solutions. Whether you need custom software, scalable enterprise apps, or cutting-edge 3D design, we are committed to turning your vision into reality and driving your projects toward success.</p>
        </div>

       <div class="row justify-content-center">
		<!-- Project 1 -->
			
			
			<div class="row justify-content-center">
				<div class="col-12 another-section bg-secondary text-white p-4">
					<div class="row">
						<!-- Project 1 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio10.jpg' %}" class="img-responsive project-img" alt="Ruby On Rails Project">
								<div class="team-content p-3">
									<h4 class="mb-2">AI-Powered Job Search Automation with Zoho Recruit</h4>
									<p class="text-uppercase fw-bold mt-1">
										Developed a Python-based application for automating job searches within Zoho Recruit. Utilized OpenAI for NLP to create search queries, integrating with Zoho Recruit API to retrieve relevant job listings, and used Ruby on Rails for the custom web interface.
									</p>
								</div>
							</div>
						</div>

						<!-- Project 2 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio1.jpg' %}" class="img-responsive project-img" alt="Ecommerce AI">
								<div class="team-content p-3">
									<h4 class="mb-2">AI-Driven Ecommerce Site Creation with SPREE</h4>
									<p class="text-uppercase fw-bold mt-1">
										Built a custom dashboard using Ruby on Rails and OpenAI to automate the creation of ecommerce sites. Automated data scraping and integrated it with SPREE to allow fast site generation with product listings.
									</p>
								</div>
							</div>
						</div>

						<!-- Project 3 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio7.jpg' %}" class="img-responsive project-img" alt="Customer Analysis">
								<div class="team-content p-3">
									<h4 class="mb-2">Restaurant Customer Arrival Analysis Dashboard</h4>
									<p class="text-uppercase fw-bold mt-1">
										Created a data analytics dashboard with Angular and SpringBoot to visualize restaurant customer arrival patterns. Used Apache Echarts to present insights on peak hours and customer behavior, enhancing decision-making for business optimization.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 another-section bg-secondary text-white p-4">
					<div class="row">
						<!-- Project 4 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio5.jpg' %}" class="img-responsive project-img" alt="Mobile Payment App">
								<div class="team-content p-3">
									<h4 class="mb-2">Unionpay Mobile Payment App</h4>
									<p class="text-uppercase fw-bold mt-1">
										Developed an Android app for seamless payment processing using Java and integrated Unionpay APIs. Enabled developers to test payment functionalities with simulated card transactions, streamlining payment integration.
									</p>
								</div>
							</div>
						</div>

						<!-- Project 5 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio2.jpg' %}" class="img-responsive project-img" alt="Laravel Vue.js Development">
								<div class="team-content p-3">
									<h4 class="mb-2">Laravel CRUD Forms with Vue.js UI</h4>
									<p class="text-uppercase fw-bold mt-1">
										Developed dynamic CRUD forms using Laravel for backend operations and Vue.js for an interactive frontend. Created features for real-time data entry, popup management, and API-driven synchronization.
									</p>
								</div>
							</div>
						</div>

						<!-- Project 6 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio5.jpg' %}" class="img-responsive project-img" alt="CRM Development">
								<div class="team-content p-3">
									<h4 class="mb-2">RedDotPayment Custom CRM for Payment Management</h4>
									<p class="text-uppercase fw-bold mt-1">
										Built a custom CRM using CodeIgniter for RedDotPayment to handle transactions and customer management. The platform provided features such as EMI payment plans, QR payment solutions, and detailed transaction reports.
									</p>
								</div>
							</div>
						</div>

						<!-- Project 7 -->
						<div class="col-md-6 col-lg-4 mt-3 mb-3">
							<div class="team-block bottom shadow rounded">
								<img src="{% static 'job_portal/img/portfolio/portfolio9.jpg' %}" class="img-responsive project-img" alt="Code Review Tool">
								<div class="team-content p-3">
									<h4 class="mb-2">Streamlined Code Review Tool for Linux</h4>
									<p class="text-uppercase fw-bold mt-1">
										Created a tool using C++ and Qt to simplify code reviews on Linux projects. The tool automates parsing of code changes and offers an intuitive interface for developers to review and collaborate.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="index" class="container-fluid bg-primary mb-1 wow fadeIn" data-wow-delay="0.1s" style="padding: 15px;">
    <div class="container">
        <div class="row g-2">
            <h3 style="text-align:center; color:white;">Request Project Services</h3>
        </div>
    </div>
</div>

	<div class="container text-center">
		<h2></h2>
		
		<!-- Quote Request Form (Initially Hidden) -->
		<div id="quote-form" style="margin-top: 20px;">
			<div class="section-title text-center">
				<p class="separator">
					Provide us with some details about your IT project or product requirements, and our team will get back to you with a free, no-obligation quote.
				</p>
			</div>

			<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-6 col-md-10">
					<div class="form">
						<form id="submit-form" action="#" class="php-email-form">
						{% csrf_token %}
							<div class="form-group">
							<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
							<input type="text" name="honeypot" style="display:none;"> <!-- Spam protection -->
							</div>
							<div class="form-group mt-3">
								<input type="text" class="form-control" name="company_name" id="company_name" placeholder="Company Name" required>
							</div>
							<div class="form-group mt-3">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
							</div>
							<div class="form-group mt-3">
								<select class="form-control" name="project_type" id="project_type" required>
									<option value="" disabled selected>Project Request Type</option>
									<option value="app_development">Tech Development</option>
									<option value="hrms_software">Team Building</option>
									<option value="cloud_support">Training Skills</option>
									<option value="other">Other IT</option>
								</select>
							</div>
							<div class="form-group mt-3">
								<textarea class="form-control" name="project_description" rows="5" placeholder="Brief Description of Your IT Project or Product" required></textarea>
							</div>
							

							<!-- reCAPTCHA Widget -->				
							<div class="my-3">
								<div class="error-message"></div>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" type="submit">Send Request</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>

<script>
    $("#submit-form").submit((e) => {
        e.preventDefault();
		const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
            url: "https://script.google.com/macros/s/AKfycbyxzRzjygEh1l0AHrTD6uEXKGilEkmYjCeC0YGk1wABLOureKv6sv1aah09itDpLgL6GQ/exec",
            data: $("#submit-form").serialize() + '&csrfmiddlewaretoken=' + csrfToken,
            method: "POST",
            success: function (response) {
                // Use SweetAlert for success message
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'Your Message is sent to Sevendyne Inc.',
                }).then(() => {
                    window.location.reload();
                });
            },
            error: function (err) {
                // Use SweetAlert for error message
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Something went wrong.',
                });
            }
        });
    });
</script>
	
{% endblock %}
