{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne: IT Technical Support, Staffing Payroll & Resource Training services{% endblock %}
{% block og_description %}At Sevendyne, we specialize in providing cutting-edge Tech Development Solutions, Staffing HR Services to connect with top talent, and Resource training Programs to enhance your team’s capabilities. Explore how our tailored solutions can drive your business forward.{% endblock %}
{% comment %} {% block og_image %}https://example.com/my-custom-image.jpg{% endblock %} {% endcomment %}
{% block og_url %}https://sevendyne.com/{% endblock %}
{% block title %}Sevendyne: Innovative Solutions for Business Growth{% endblock %}

{% load static %}

{% block content %}


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Client Projects</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Portfolio</li>
            </ol>
        </nav>

    </div>
</div>
<!-- Header End -->

<!-- ======= Team Section ======= -->
<section id="team" class="padd-section text-center" style="margin-bottom:3%;margin-top:3%">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <div class="common-title-section">
            <h1>Our Client Projects</h1>
        </div>
        <p class="separator">Our expertise includes core tech development by assembling exceptional teams and delivering top talent for staffing, payroll solutions, and targeted training programs. 
		With experience in diverse projects—such as developing the Zoho Recruit app using Python & OpenAI, creating an ecommerce dashboard with Ruby on Rails, 
		and building custom CRMs with CodeIgniter—we empower international organisations to meet the competitive demands of software development, AI initiatives, and technology integration.       </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio1.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">Ruby On Rails, NodeJs Team and AI frameworks - Ecommerce, Germany</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Delivering tailored staffing services and direct developments</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio2.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">Laravel, CodeIgniter & JavaScript Team - Fintech Company, Singapore</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Providing robust staffing solutions and direct development</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio3.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">C++, Qt  and mapping libraries Team - Automotive Navigation Company, Germany</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Delivering proficient staffing support and direct project involvement</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio4.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">C++ Team -Android Gaming Libraries - 2D Gaming Company, USA</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Offering bespoke development support and project execution</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio5.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">C++, Qt, and JS Graphing Team - Fintech Trading Company, UK</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Providing advanced development and staffing solutions</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio6.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">App Training Team - IT Training Company, Malaysia</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Delivering comprehensive training and hands-on support across diverse software applications</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio7.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">Solidworks & PLC SCADA Team - Enginnering Company UK</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Providing advanced development and staffing solutions in Solid Works and PLC</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{% static 'job_portal/img/portfolio/portfolio8.jpg' %}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">Angular, SpringBoot Team - Energy Utility Company, Germany</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">Delivering comprehensive training and hands-on support across diverse software applications</p>
            </div>
          </div>
        </div>

        {% for p in portfolios %}
        <div class="col-md-6 col-md-4 col-lg-3 mt-3 mb-3" data-aos="zoom-in" >
          <div class="team-block bottom">
            <img src="{{ p.image.url }}" class="img-responsive" alt="img">
            <div class="team-content" style="">
              <span class="mb-2">{{ p.title }}</span>
              <p class="mt-1"style="text-transform: uppercase;font-weight:bolder">{{ p.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
</section>
<!-- End Team Section -->


{% endblock %}
