{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne: IT Solutions, Digital Innovation & Tech Development{% endblock %}
{% block og_description %}At Sevendyne, we specialize in providing innovative IT Solutions to enhance your team's capabilities and drive business growth. Explore how our tailored services can connect you with top talent and streamline your operations.{% endblock %}
{% block og_url %}https://sevendyne.com/{% endblock %}
{% block title %}Sevendyne: Innovative IT Solutions for Enterprise Growth{% endblock %}

{% load static %}

{% block content %}


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Client Projects</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Portfolio</li>
            </ol>
        </nav>

    </div>
</div>
<!-- Header End -->

<section id="hrms-payroll" class="padd-section text-center" style="margin-bottom:3%;margin-top:3%">
    <div class="container">
        <div class="section-title text-center">
            <h1>Client Projects</h1>
           <p class="separator">At Sevendyne, we excel in delivering comprehensive app development services tailored to your business needs. Our expert team specializes in building high-quality mobile and web applications, utilizing the latest technologies to create innovative and user-friendly solutions. Whether you need custom software, scalable enterprise apps, or cutting-edge 3D design, we are committed to turning your vision into reality and driving your projects toward success.</p>
        </div>

       <div class="row justify-content-center">
		<!-- Project 1 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio10.jpg' %}" class="img-responsive" alt="Ruby On Rails Project">
					<div class="team-content p-3">
						<h4 class="mb-2">AI-Powered Job Search Automation with Zoho Recruit</h4>
						<p class="text-uppercase fw-bold mt-1">
							Developed a Python-based application for automating job searches within Zoho Recruit. Utilized OpenAI for NLP to create search queries, integrating with Zoho Recruit API to retrieve relevant job listings, and used Ruby on Rails for the custom web interface.
						</p>
					</div>
				</div>
			</div>

			<!-- Project 2 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio1.jpg' %}" class="img-responsive" alt="Ecommerce AI">
					<div class="team-content p-3">
						<h4 class="mb-2">AI-Driven Ecommerce Site Creation with SPREE</h4>
						<p class="text-uppercase fw-bold mt-1">
							Built a custom dashboard using Ruby on Rails and OpenAI to automate the creation of ecommerce sites. Automated data scraping and integrated it with SPREE to allow fast site generation with product listings.
						</p>
					</div>
				</div>
			</div>

			<!-- Project 3 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio7.jpg' %}" class="img-responsive" alt="Customer Analysis">
					<div class="team-content p-3">
						<h4 class="mb-2">Restaurant Customer Arrival Analysis Dashboard</h4>
						<p class="text-uppercase fw-bold mt-1">
							Created a data analytics dashboard with Angular and SpringBoot to visualize restaurant customer arrival patterns. Used Apache Echarts to present insights on peak hours and customer behavior, enhancing decision-making for business optimization.
						</p>
					</div>
				</div>
			</div>

			<!-- Project 4 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio5.jpg' %}" class="img-responsive" alt="Mobile Payment App">
					<div class="team-content p-3">
						<h4 class="mb-2">Unionpay Mobile Payment App</h4>
						<p class="text-uppercase fw-bold mt-1">
							Developed an Android app for seamless payment processing using Java and integrated Unionpay APIs. Enabled developers to test payment functionalities with simulated card transactions, streamlining payment integration.
						</p>
					</div>
				</div>
			</div>


			<!-- Project 5 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio2.jpg' %}" class="img-responsive" alt="Laravel Vue.js Development">
					<div class="team-content p-3">
						<h4 class="mb-2">Laravel CRUD Forms with Vue.js UI</h4>
						<p class="text-uppercase fw-bold mt-1">
							Developed dynamic CRUD forms using Laravel for backend operations and Vue.js for an interactive frontend. Created features for real-time data entry, popup management, and API-driven synchronization.
						</p>
					</div>
				</div>
			</div>
			
			<!-- Project 6 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio5.jpg' %}" class="img-responsive" alt="CRM Development">
					<div class="team-content p-3">
						<h4 class="mb-2">RedDotPayment Custom CRM for Payment Management</h4>
						<p class="text-uppercase fw-bold mt-1">
							Built a custom CRM using CodeIgniter for RedDotPayment to handle transactions and customer management. The platform provided features such as EMI payment plans, QR payment solutions, and detailed transaction reports.
						</p>
					</div>
				</div>
			</div>

			<!-- Project 7 -->
			<div class="col-md-6 col-lg-4 mt-3 mb-3">
				<div class="team-block bottom shadow rounded">
					<img src="{% static 'job_portal/img/portfolio/portfolio9.jpg' %}" class="img-responsive" alt="Code Review Tool">
					<div class="team-content p-3">
						<h4 class="mb-2">Streamlined Code Review Tool for Linux</h4>
						<p class="text-uppercase fw-bold mt-1">
							Created a tool using C++ and Qt to simplify code reviews on Linux projects. The tool automates parsing of code changes and offers an intuitive interface for developers to review and collaborate.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
