{% extends "job_portal/base.html" %}
{% load static %}

{% block content %}

    <main class="wrap" style="padding:3%">
        <section class="container">
            
          <div class="container__heading d-flex">
            <a href="{% url 'main:job_portal' %}" style="display: inline;"><img style="height:35px; width: 50px;display: inline;" src="{% static 'job_portal/img/logo.png' %}" alt="" title="" /></a>
            <span><h2 style="display: inline;">Terms & Conditions</h2></span>
            <!-- <div id="logo" class="d-flex"> -->
            
            {% comment %} <h1 style="display: inline;"><a href="{% url 'main:job_portal' %}"><span></span>Sevendyne</a></h1>                 {% endcomment %}
            <!-- </div> -->
          </div>
          <div class="container__content">
            <p>By accessing or using the Site, you agree to be bound by these Terms. If you do not agree to these Terms, you may not access or use the Site. </p>
            <h3>1. Use of the Site</h3>
            <p>a. Eligibility To use the Site - you must be at least 18 years old and have the legal capacity to enter into a binding agreement. If you are under 18, you may only use the Site with the consent and supervision of a parent or legal guardian. </p>
            <p>b. License Subject to these Terms - we grant you a limited, non-exclusive, non-transferable, and revocable license to access and use the Site for your personal and non-commercial use. You may not use the Site for any other purpose without our prior written consent. </p>
            <p>c. Prohibited Conduct - You agree not to engage in any of the following activities on or through the Site: Use the Site in any way that violates any applicable federal, state, local, or international law or regulation. Impersonate any person or entity or misrepresent your affiliation with any person or entity. Engage in any conduct that restricts or inhibits any other user from using or enjoying the Site. Use the Site to send or upload any material that is unlawful, defamatory, libelous, harassing, threatening, or otherwise objectionable. Use the Site to send or upload any material that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party. Use the Site to send or upload any material that contains viruses, Trojan horses, worms, time bombs, cancelbots, or any other harmful or disruptive computer code, files, or programs. </p>
            <p>d. Termination - We reserve the right to terminate or suspend your access to the Site, in our sole discretion, at any time and without notice, including for any violation of these Terms or for any other reason.
            </p>

            <h3>2. Intellectual Property</h3>
            <p>a. Ownership - The Site and its entire contents, features, and functionality, including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof, are owned by us, our licensors, or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</p>
            <p>b. License - Subject to these Terms, we grant you a limited, non-exclusive, non-transferable, and revocable license to access and use the Site and its content for your personal and non-commercial use. You may not use the Site or its content for any other purpose without our prior written consent.</p>
            <p>c. Trademarks - The Site name, logo, and all related names, logos, product and service names, designs, and slogans are trademarks of ours or our affiliates or licensors. You may not use such marks without our prior written consent.</p>

            <h3>3. Disclaimer of Warranties</h3>
            <p>THE SITE AND ITS CONTENT ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. WE DO NOT WARRANT THAT THE SITE OR ITS CONTENT WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR ITS SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            </p>

            <h3>4. Limitation of Liabilities</h3>
            <p>a. Sevendyne shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses (even if Sevendyne has been advised of the possibility of such damages), resulting from your use of our Services.</p>
            <p>b. If you are dissatisfied with any portion of our Services, or with any of these Terms, your sole and exclusive remedy is to discontinue using our Services.</p>

            <h3>5. Extras</h3>
            <p>a. INDEMNIFICATION: You agree to indemnify, defend, and hold harmless Sevendyne, its officers, directors, employees, agents, licensors, and suppliers from and against all claims, losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting from any violation of these Terms or any activity related to your use of our Services.</p>
            <p>b. MODIFICATIONS: We reserve the right to modify these Terms at any time. If we make material changes to these Terms, we will notify you by email or by posting a notice on our website prior to the effective date of the changes. Your continued use of our Services following the effective date of any changes to these Terms constitutes your acceptance of those changes.
            </p>
            <p>c. TERMINATION: We may terminate these Terms and your access to our Services at any time, for any reason, without prior notice to you. In the event of termination, you will immediately cease all use of our Services.</p>
            <p>d. GOVERNING LAW AND JURISDICTION: These Terms shall be governed by and construed in accordance with the laws of the State of Kerala, without giving effect to any principles of conflicts of law. You agree that any action at law or in equity arising out of or relating to these Terms or your use of our Services shall be filed only in the state or federal courts located in Kochi, Kerala, and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.</p>

            <h3>6. Contact Us</h3>
            <p>If you have any questions or concerns about these Terms or our Services, please contact us at <a href="">hr@sevendyne.com</a></p>
          </div>
        </section>
      </main>

{% endblock %}
