<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HRMS</title>

        <!-- Favicon -->
        {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo_svd.png' %}"> {% endcomment %}

        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'assets_home/css/aos.css' %}">

        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'assets_home/css/owl.carousel.min.css' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets_home/css/bootstrap.min.css' %}">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets_home/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets_home/plugins/fontawesome/css/all.min.css' %}">

        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets_home/css/style.css' %}">
		
    </head>
	
    <body class="second-landing-page">
	
        <!-- Header -->
        <header id="header" class="site-header home-header home-header-while header-land">
            <div class="container">
                <div class="row">
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="index.html" class="menu-logo">
                                {% comment %} <img src="{% static 'assets_home/img/01.png' %}" style="max-width:50% !important" class="img-fluid" alt="Logo"> {% endcomment %}
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        </ul>
                        <div class="try-free link mobile-head-menu">
                            <a class="btn btn-primary response-head-menu" href="#" target="_blank"  role="button">Try It Free</a>
                        </div>
                    </div>
                    <div class="main-menu-head d-flex justify-content-between">
                        <div class="res-center col-lg-3 col-sm-12 col-12">
                            <div class="site">
                                <a id="mobile_btn" href="javascript:void(0);">
                                    <span class="bar-icon-second">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </a>
                                <div class="site-brand">
                                    {% comment %} <a href="index.html" class="site-branding-logo"><img src="{% static 'assets_home/img/01.png' %}" style="max-width:50% !important" alt="logo" class="img-fluid"></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="home-buy-button">
                            <div class="buy-btns">
                                <a href="{% url 'user:user_login' %}" target="_blank"  class="btn btn-buy">Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- / Header -->

        <!-- Banner -->
        <div class="main-banner-section" data-aos="fade-up" data-aos-duration="2000">
            <div class="home-section-vector-left-top"><img src="{% static 'assets_home/img/vector/vector-home-left.png' %}" alt="vector-image"></div>
            <div class="home-section-vector-left-bottom"><img src="{% static 'assets_home/img/vector/vector-home-left-bottom.png' %}" alt="vector-image"></div>
            <div class="home-section-vector-right-top"><img src="{% static 'assets_home/img/vector/vector-home-top.png' %}" alt="vector-image"></div>
            <div class="home-section-vector-right-bottom"><img src="{% static 'assets_home/img/vector/vector-home-bottom.png' %}" alt="vector-image"></div>
            <div class="container">
                <div class="row">
                    <div class="homepage-section d-flex justify-content-center">
                        <div class="col-lg-5 col-sm-5 col-12">
                            <div class="process-content">
                                <p>Manage all your people in one place.</p>
                                <h2>The Processes more important from 
                                    <span>HRMS</span>
                                    {% comment %} <span>HRMS</span> {% endcomment %}
                                     Here!</h2>
                                <a href="{% url 'user:register' %}" class="btn btn-free">Sign Up</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-7 col-12">
                            <div class="main-slider">
                                <div class="slider-vector-layer"><img src="{% static 'assets_home/img/vector/slider-vector-bottom-left.png' %}" alt="vector-image"></div>
                                <div class="slider-vector-layers"><img src="{% static 'assets_home/img/vector/slider-vector-bottom-right.png' %}" alt="vector-image"></div>
                                <div class="slider-vector-top-left"><img src="{% static 'assets_home/img/vector/slider-vector-top.png' %}" alt="vector-image"></div>
                                <img src="{% static 'assets_home/img/laptop.png' %}" alt="main-slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Banner-->

        <!-- Features section list -->
        <div class="features-choose-section" id="features">
            <div class="feature-vector-layar"><img src="{% static 'assets_home/img/vector/feature-vector-left-top.png' %}" alt="img"></div>
            <div class="feature-vector-layars"><img src="{% static 'assets_home/img/vector/feature-vector-bottom.png' %}" alt="img"></div>
            <div class="feature-vector-overlay"><img src="{% static 'assets_home/img/vector/feature-bottom-left.png' %}" alt="img"></div>
            <div class="features-layer"><img src="{% static 'assets_home/img/vector/vector-home-bottom.png' %}" alt="img"></div>
            <div class="feature-overlay"><img src="{% static 'assets_home/img/vector/feature-vector-bottom.png' %}" alt="img"></div>
            <div class="container">
                <div class="row">
                    <div class="common-title-section" data-aos="fade-up" data-aos-duration="2000">
                        <h3>Why Choose</h3>
                    </div>
                    <div class="feature-content-heading" data-aos="fade-up" data-aos-duration="2000">
                        <h2>HRMS Providing You <span> Best Features</span></h2>
                        <p>Looking to automate HR management template? HRMS is for you. This is a project management and HR automation template that can be used for the HRMS system.</p>
                    </div>
                    <div class="d-flex justify-content-around feature-list">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="feature-left">
                                <div class="feature-left-content"  data-aos="fade-right" data-aos-duration="1000">
									<div class="feat-box">
										<div class="feat-icon bg-orange">
											<i class="fas fa-cubes"></i>
										</div>
									</div>
                                    <h4>Advanced Features</h4>
                                    <p>Advanced features tools like graphs, charts, invoices, video & audio call's, projects, etc.</p>
                                </div>
                                <div class="feature-left-content"  data-aos="fade-right" data-aos-duration="2000">
									<div class="feat-box">
										<div class="feat-icon bg-lightpink">
											<i class="fas fa-laptop"></i>
										</div>
									</div>
                                    <h4>More Flexible</h4>
                                    <p>Advanced features tools like graphs, charts, invoices, video & audio call's, projects, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 " >
                            <div class="feature-image" data-aos="fade-up" data-aos-duration="2000">
                                <img src="{% static 'assets_home/img/featurebackground.png' %}" alt="features">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12 ">
                            <div class="feature-right">
                                <div class="feature-right-content" data-aos="fade-left" data-aos-duration="1000">
									<div class="feat-box">
										<div class="feat-icon bg-orange">
											<i class="fas fa-eye"></i>
										</div>
									</div>
                                    <h4>Retina Ready</h4>
                                    <p>Collaborate over projects with your team and clients optimised for mobile and tablet don't let slow page speeds drive</p>
                                </div>
                                <div class="feature-right-content" data-aos="fade-left" data-aos-duration="2000">
									<div class="feat-box">
										<div class="feat-icon bg-lightpink">
											<i class="fas fa-code"></i>
										</div>
									</div>
                                    <h4>Clean Codes</h4>
                                    <p>Well tested, well documented and W3 validated code.<span> Developers can take advantage immediately.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Features Section List-->
        
        <!-- Pricing slider-->
        <div class="build-feature mb-5">
            <div class="pricing-top-left-vector"><img src="{% static 'assets_home/img/vector/pricing-left-vector.png' %}" alt="img"></div>
            <div class="pricing-top-right-vector"><img src="{% static 'assets_home/img/vector/dotted-vector.png' %}" alt="img"></div>
            <div class="pricing-top-left-bottom-vector"><img src="{% static 'assets_home/img/vector/pricing-slider-bottom.png' %}" alt="img"></div>
            <div class="container">
                <div class="row" data-aos="fade-up" data-aos-duration="2000">
                    <div class="common-title-section">
                        <h3>Feature List</h3>
                    </div>
                    <div class="feature-content-heading">
                        <h2>Features that Help you <span>build better.</span></h2>
                        <p>Looking to automate HR management template? HRMS is for you. This is a project management and HR automation template that can be used for the HRMS system.</p>
                    </div>
                </div>
                <div class="feature-sections">
                    <div class="row" data-aos="fade-up" data-aos-duration="2000">
                        <div class="col-lg-4 col-md-4 d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/handshake.png' %}" alt="employee-management">
                                    <h4>Employee Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/people.png' %}" alt="payroll-management">
                                    <h4>Payroll Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/innovation.png' %}" alt="project-management">
                                    <h4>Project Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-duration="2000">
                        <div class="col-lg-4 col-md-4 d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/notes.png' %}" alt="tas-management">
                                    <h4>Task Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4  d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/management.png' %}" alt="jobs-management">
                                    <h4>Jobs Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/timing.png' %}" alt="leads-management">
                                    <h4>Leads Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-duration="2000">
                        <div class="col-lg-4 col-md-4 d-flex" data-aos="fade-up" data-aos-duration="14000">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/client.png' %}" alt="clients-management">
                                    <h4>Clients Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 d-flex" data-aos="fade-up" data-aos-duration="8000">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/accounts.png' %}" alt="account-management">
                                    <h4>Account Management</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 d-flex" data-aos="fade-up" data-aos-duration="9000">
                            <div class="management card flex-fill">
                                <div class="card-body">
                                    <img src="{% static 'assets_home/img/customer-care.png' %}" alt="ticket-system">
                                    <h4>Ticket System</h4>
                                    <p>It is a long established fact that a will be distracted.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Pricing Slider-->

        <!-- Footer-->
        <footer class="footer-second ">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="copy-rights-second">
                            <p>Copyrights © 2024. All Rights Reserved  </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="company-logo-second">
                            {% comment %} <p>A Product of                                 {% endcomment %}
                                 {% comment %} <img src="{% static 'assets/img/logo_svd.png' %}" alt="Company-logo"> {% endcomment %}
                            {% comment %} </p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-->


        <!-- jQuery -->
        <script src="{% static 'assets_home/js/jquery-3.7.0.min.js' %}"></script>

        <!-- Bootstrap Core JS -->
        <script src="{% static 'assets_home/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Wow JS -->
        <script src="{% static 'assets_home/js/aos.js' %}"></script>

        <!-- Owl JS -->
        <script src="{% static 'assets_home/js/owl.carousel.min.js' %}"></script>

        <!-- Smooth Scroll JS -->
        <script src="{% static 'assets_home/js/smooth-scroll.min.js' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'assets_home/js/script.js' %}"></script>
    </body>
</html>
