# Ignore all files in migrations directories, except __init__.py
*/migrations/*
!*/migrations/__init__.py
*/migrations/*.py
*/migrations/*.pyc

# Ignore Python bytecode
*.pyc
__pycache__/
*/__pycache__/

# Ignore database files
db.sqlite3

# Ignore virtual environments
venv/

# Ignore uploaded media files
media/

# Ignore specific file
notes.txt

