{% extends "base/base_employee.html" %}
{%load static%}

{% block content %}

<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Leaves</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
					<li class="breadcrumb-item active">Leaves</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_leave"><i class="fa-solid fa-plus"></i> Add Leave</a>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Leave Statistics -->
	<div class="row">
		<div class="col-md-3 d-flex">
			<div class="stats-info w-100">
				<h6>Today Presents</h6>
				<h4>12 / 60</h4>
			</div>
		</div>
		<div class="col-md-3 d-flex">
			<div class="stats-info w-100">
				<h6>Planned Leaves</h6>
				<h4>8 <span>Today</span></h4>
			</div>
		</div>
		<div class="col-md-3 d-flex">
			<div class="stats-info w-100">
				<h6>Unplanned Leaves</h6>
				<h4>0 <span>Today</span></h4>
			</div>
		</div>
		<div class="col-md-3 d-flex">
			<div class="stats-info w-100">
				<h6>Pending Requests</h6>
				<h4>12</h4>
			</div>
		</div>
	</div>
	<!-- /Leave Statistics -->
	
	<!-- Search Filter -->
	<div class="row filter-row">
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus select-focus">
				<select class="select floating"> 
					<option> -- Select -- </option>
					<option>Casual Leave</option>
					<option>Medical Leave</option>
					<option>Loss of Pay</option>
				</select>
				<label class="focus-label">Leave Type</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
			<div class="input-block mb-3 form-focus select-focus">
				<select class="select floating"> 
					<option> -- Select -- </option>
					<option> Pending </option>
					<option> Approved </option>
					<option> Rejected </option>
				</select>
				<label class="focus-label">Leave Status</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<div class="cal-icon">
					<input class="form-control floating datetimepicker" type="text">
				</div>
				<label class="focus-label">From</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<div class="cal-icon">
					<input class="form-control floating datetimepicker" type="text">
				</div>
				<label class="focus-label">To</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<a href="#" class="btn btn-success w-100"> Search </a>  
		</div>     
	</div>
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table mb-0 datatable">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Leave Type</th>
							<th>From</th>
							<th>To</th>
							<th>No of Days</th>
							<th>Reason</th>
							<th class="text-center">Status</th>
							<th class="text-end">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for leave in leaves %}
						<tr>
							<td>
								<h2 class="table-avatar">
									<a href="profile.html" class="avatar"><img src="assets/img/profiles/avatar-09.jpg" alt="User Image"></a>
									<a href="#">{{ leave.employee.get_full_name }} <span>{{ leave.employee.designation }}</span></a>
								</h2>
							</td>
							<td>{{ leave.leavetype }}</td>
							<td>{{ leave.startdate }}</td>
							<td>{{ leave.enddate }}</td>
							<td>{{ leave.leave_days }}</td>
							<td>{{ leave.reason }}</td>
							<td class="text-center">
								<div class="dropdown action-label">
									<a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-regular fa-circle-dot text-purple"></i> New
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-purple"></i> New</a>
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-info"></i> Pending</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#approve_leave"><i class="fa-regular fa-circle-dot text-success"></i> Approved</a>
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Declined</a>
									</div>
								</div>
							</td>
							<td class="text-end">
								<div class="dropdown dropdown-action">
									<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_leave"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_approve"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
									</div>
								</div>
							</td>
						</tr>	
						<!-- Edit Leave Modal -->
						<div id="edit_leave" class="modal custom-modal fade" role="dialog">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit Leave</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form>
											<div class="input-block mb-3">
												<label class="col-form-label">Leave Type <span class="text-danger">*</span></label>
												<select class="select">
													<option>Select Leave Type</option>
													<option>Casual Leave 12 Days</option>
												</select>
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">From <span class="text-danger">*</span></label>
												<div class="cal-icon">
													<input class="form-control datetimepicker" value="01-01-2019" type="text">
												</div>
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">To <span class="text-danger">*</span></label>
												<div class="cal-icon">
													<input class="form-control datetimepicker" value="01-01-2019" type="text">
												</div>
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">Number of days <span class="text-danger">*</span></label>
												<input class="form-control" readonly type="text" value="2">
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">Remaining Leaves <span class="text-danger">*</span></label>
												<input class="form-control" readonly value="12" type="text">
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">Leave Reason <span class="text-danger">*</span></label>
												<textarea rows="4" class="form-control">Going to hospital</textarea>
											</div>
											<div class="submit-section">
												<button class="btn btn-primary submit-btn">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /Edit Leave Modal -->

						<!-- Approve Leave Modal -->
						<div class="modal custom-modal fade" id="approve_leave" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Leave Approve</h3>
											<p>Are you sure want to approve for this leave?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="javascript:void(0);" class="btn btn-primary continue-btn">Approve</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Approve Leave Modal -->

						<!-- Delete Leave Modal -->
						<div class="modal custom-modal fade" id="delete_approve" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Delete Leave</h3>
											<p>Are you sure want to delete this leave?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Delete Leave Modal -->
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Leave</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="{% url 'employee:create_leave' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
					<div class="input-block mb-3">
					  <label class="col-form-label">Leave Type <span class="text-danger">*</span></label>
					  	{{ form.leavetype }}
						{% if form.leavetype.errors %}
						<span class="error">{{ form.leavetype.errors.0 }}</span>
						{% endif %}
					</div>
		  
					<div class="input-block mb-3">
					  <label class="col-form-label">From <span class="text-danger">*</span></label>
					  <div class="cal-icon"><div class="cal-icon">
							<input id="start_date" name="startdate" class="start_date form-control datetimepicker" type="text">
						</div>
					  </div>
					</div>
		  
					<div class="input-block mb-3">
					  <label class="col-form-label">To <span class="text-danger">*</span></label>
					  <div class="cal-icon"><div class="cal-icon">
							<input id="end_date" name="enddate" class="ed_date form-control datetimepicker" type="text">
						</div>
					  </div>
					</div>
		  
					<div class="input-block mb-3">
					  <label class="col-form-label">Number of days <span class="text-danger">*</span></label>
					  <input id="leave_days" class="form-control" readonly type="text" value="">
					  
					  {% comment %} <input name="days" class="form-control" readonly type="text" value="{{ form.days }}"> {% endcomment %}
					</div>
		  
					<div class="input-block mb-3">
					  <label class="col-form-label">Remaining Leaves <span class="text-danger">*</span></label>
					  <input id="remaining_days" class="form-control" readonly type="text" value="">
					  
					  {% comment %} <input name="remaining_days" class="form-control" readonly type="text" value="{{ form.remaining_days }}"> {% endcomment %}
					</div>
		  
					<div class="input-block mb-3">
					  <label class="col-form-label">Leave Reason <span class="text-danger">*</span></label>
					  	{{ form.reason }}
						{% if form.reason.errors %}
						<span class="error">{{ form.reason.errors.0 }}</span>
						{% endif %}
					  {% comment %} <textarea name="reason" rows="4" class="form-control">{{ form.reason }}</textarea> {% endcomment %}
					</div>
		  
					<div class="submit-section">
					  <button class="btn btn-primary submit-btn" type="submit">Submit</button>
					</div>
				  </form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Leave Modal -->
	
<script>
	$('input#start_date.start_date.form-control.datetimepicker').change(function() {
			console.log("start date changed")
			updateLeaveDays();
		
		
		// Event listener for end date change
		$('#end_date').change(function() {
			console.log("leave date changed")
			 updateLeaveDays();
			updateRemainingDays(); 
		});  
		
		{% comment %} function calculateLeaveDays(startDateString, endDateString, leaveTypeDays) {
			console.log("calculate leave days called")
			var startDate = new Date(startDateString);
			var endDate = new Date(endDateString);
			var diffTime = Math.abs(endDate - startDate);
			var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

			if (diffDays === 0) {
			return "1 day";
			} else if (diffDays === 1) {
			return "1 day, " + leaveTypeDays;
			} else {
			return diffDays + " days, " + leaveTypeDays;
			}
		}

		function calculateRemainingDays(approvedLeaveDays, leaveTypeDays) {
			console.log("calculate remaining days called")
			var remainingDays = leaveTypeDays - approvedLeaveDays;
			return Math.max(0, remainingDays);
		}

	
		// Function to calculate and update leave days
		function updateLeaveDays() {
			console.log("update leave days called")
			var startDate = $('#start_date').val();
			console.log("start date",startDate)
			var endDate = $('#end_date').val();
			console.log("start date",endDate)
			var leaveTypeDays = parseInt($('#leave_days').val()); // Assuming you have a hidden input field with leave type days
			var leaveDays = calculateLeaveDays(startDate, endDate, leaveTypeDays);
			$('#leave_days').val(leaveDays);
		}
		
		// Function to update remaining days
		function updateRemainingDays() {
			console.log("update remaining days called")
			var approvedLeaveDays = parseInt('{{ approved_leave_days }}'); // Get the approved leave days from Django context
			var leaveTypeDays = parseInt($('#leave_days').val()); // Assuming you have a hidden input field with leave type days
			var remainingDays = calculateRemainingDays(approvedLeaveDays, leaveTypeDays);
			$('#remaining_days').val(remainingDays);
		}	
		 {% endcomment %}
	});
</script>
{% endblock %}