{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% load i18n %}

{% load main_template_tags %}

{% block content %}
	<section id="content">
        <div class="container-fluid">

            <div class="action-header bg clearfix">
                <h4 style="color: #fff;">{{title}}</h4>
                <ul class="ah-actions actions a-alt">
                   
                   <li>
                        <a title="Create Attendance Register" href="{% url 'employee:create_attendance_register' %}">
                          <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a title="Edit Attendance Register" href="{% url 'employee:edit_attendance_register' pk=pk %}">
                          <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12" >
                    <div class="card ">
                          <form action="" method="get">
                            <select name="month" id="" style="margin-left:70%;background-color: #c9b31a;color: white;height: 50px;padding: 15px;width:10%;display:inline-block;">
                              <option value="">Select Month</option>
                              <option value="1">January</option>
                              <option value="2">February</option>
                              <option value="3">March</option>
                              <option value="4">April</option>
                              <option value="5">May</option>
                              <option value="6">June</option>
                              <option value="7">July</option>
                              <option value="8">August</option>
                              <option value="9">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                            </select>
                            <button class="btn" style="background-color: #4a5b97;color: white;height: 50px;width:10%;margin-top:-5px" type="submit"><h4 style="color: white;">Submit</h4></button>
                          </form>
                        <div class="card-header" style="text-align: center;">                  
                          <h3 style="color: teal;">{{month}}</h3>
                        </div>
                        <div class="card-body card-padding " style="border-radius: 10px; box-shadow:  0 20px 20px 0 rgba(0, 0, 0, 0.6), 0 2px 23px 0 rgba(0, 0, 0, 0.19);">
                            <div class="table-responsive card-body card-padding">
                              <table id="data-table-basic" class="table">
                              
                                  <thead>
                                      <tr>      
                                        <th class="card-theme color-w" width="10%">Sl. No</th>                                                                   
                                        <th class="card-theme color-w" width="10%">Name</th>
                                        {% for i in n %}
                                        <th class="card-theme color-w">{{forloop.counter}}</th>
                                        {% endfor %}
                                      </tr>
                                  </thead>
                                  <tbody >   
                                    {% for employee in employees %}
                                    <tr>
                                      <td>{{forloop.counter}}</td>                                                           
                                      <td>{{employee.get_full_name }}</td> 
                                      {% for i in nn %}
                                      {% for att in att_list %}
                                          {% if att.employee == employee and att.date == i %}
                                              <td>
                                                {% if att.attendance == True %}
                                                    <i class="fa-solid fa-check text-success"></i>
                                                {% elif att.attendance == False %} 
                                                    <i class="fa fa-close text-danger"></i>
                                                {% elif att.attendance == "FnHalf" %} 
                                                    <div class="half-day">                                                    
                                                        <span class="first-off"><i class="fa-solid fa-check text-success"></i></span>
                                                        <span class="first-off"><i class="fa fa-close text-danger"></i></span> 
                                                    </div>
                                                {% elif att.attendance == "AnHalf" %} 
                                                    <div class="half-day">
                                                        <span class="first-off"><i class="fa fa-close text-danger"></i></span> 
                                                        <span class="first-off"><i class="fa-solid fa-check text-success"></i></span>
                                                    </div>
                                                {% else %} 
                                                    {% if att.attendance == 'blank' %}
                                                        <p>-</p>
                                                    {% else %}
                                                        <p>{{ att.attendance }}</p>
                                                    {% endif %}
                                                {% endif %}
                                              </td>
                                          {% endif %}
                                      {% endfor %}
                                      {% endfor %}
                                    </tr>    
                                    {% endfor %}          
                                  </tbody>                
                              </table>            
                            </div>
                          </div>
                    </div>                             
                </div>
            </div>           
        </div>
    </section>
{% endblock %}
<!-- {% block filter_box %}
    <aside class="chat toggled">
        <form method="get" action="">
            <div class="card">
                <select name="month" id="" style="margin-left:160%;background-color: #c9b31a;color: white;height: 50px;padding: 15px;width:30%;display:inline-block;">
                  <option value="">Select Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <button class="btn" style="background-color: #4a5b97;color: white;height: 50px;width:30%;margin-top:-5px" type="submit"><h4 style="color: white;">Submit</h4></button>


            </div>
        </form>
    </aside>
{% endblock %} -->
{% block static %}
	{% load static %}
  <style>
    .dash {
    width : 12%;
    margin-top : 0%;
    margin-bottom: 1%;
    margin-left: 85%;    
    background-color: #32a7a7;    
    height: 40px;
    text-align: center;
    justify-content: center;
    
  }
  .inner-card{        
    background-color: #fff;        
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
} 
.lightgreen.inner-card{
    background: linear-gradient(91deg, #8bc34a, #d0e7b6);
}
.pink-400.inner-card{
    background: linear-gradient(91deg, #e91e63, #f8bbd0);
}
.blue.inner-card{
    background: linear-gradient(91deg, #2196f3, #a6d5fa);
}
.teal.inner-card{
    background: linear-gradient(91deg, #009688, #b2dfdb);
}
.bluegrey.inner-card{
    background: linear-gradient(91deg, #607d8b, #bfcbd0);
}
.green.inner-card{
    background: linear-gradient(91deg, #4caf50, #b7dfb9);
}
.purple-400.inner-card{
    background: linear-gradient(91deg, #9c27b0, #d7a8df);
}
.cyan-600.inner-card{
    background: linear-gradient(91deg, #00bcd4, #99e4ed);
}
.brown.inner-card{
    background: linear-gradient(91deg, #795548, #5c5958);
}
.grey-600.inner-card{
    background: linear-gradient(91deg, #9e9e9e, #444040);
}
.orange.inner-card{
    background: linear-gradient(91deg, #ff9800, #d3a45f);
}
  </style>
  {{form.media}}
{% endblock %}