{% extends "base/base_employee.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">PaySlips</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:employee_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">PaySlip</li>
				</ul>
			</div>
			{% comment %} <div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" onclick="loadCreateSalaryForm()" data-bs-toggle="modal" data-bs-target="#add_salary"><i class="fa-solid fa-plus"></i> Add Salary</a>
			</div> {% endcomment %}
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	{% comment %} <div class="row filter-row">
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus select-focus">
				<select class="select floating"> 
					<option value=""> -- Select -- </option>
					<option value="">Employee</option>
					<option value="1">Manager</option>
				</select>
				<label class="focus-label">Role</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
			<div class="input-block mb-3 form-focus select-focus">
				<select class="select floating"> 
					<option> -- Select -- </option>
					<option> Pending </option>
					<option> Approved </option>
					<option> Rejected </option>
				</select>
				<label class="focus-label">Leave Status</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<div class="cal-icon">
					<input class="form-control floating datetimepicker" type="text">
				</div>
				<label class="focus-label">From</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<div class="input-block mb-3 form-focus">
				<div class="cal-icon">
					<input class="form-control floating datetimepicker" type="text">
				</div>
				<label class="focus-label">To</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
			<a href="#" class="btn btn-success w-100"> Search </a>  
		</div>     
	</div> {% endcomment %}
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table datatable">
					<thead>
						<tr>
							<th>Sl.No</th>
							{% comment %} <th>Employee ID</th>
							<th>Email</th> {% endcomment %}
							<th>Month</th>
							{% comment %} <th>Role</th> {% endcomment %}
							<th>Salary</th>
							<th>Payslip</th>
							{% comment %} <th class="text-end">Action</th> {% endcomment %}
						</tr>
					</thead>
					<tbody>
						{% for payslip in payslips %}
						<tr>
							{% comment %} <td>
								<h2 class="table-avatar">
									<a href="#" class="avatar"><img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="User Image"></a>
									<a href="profile.html">{{ salary.employee.get_full_name }} <span>{{ salary.employee.salary }}</span></a>
								</h2>
							</td> {% endcomment %}
							<td>{{ forloop.counter }}</td>
							<td>{{ payslip.date|date:"F Y" }}</td>
							{% comment %} <td>{{ salary.employee.joindate }}</td> {% endcomment %}
							{% comment %} <td>{{ salary.employee.designation }}</td> {% endcomment %}
							<td>{{ payslip.net_salary }}</td>
							<td><a class="btn btn-sm btn-primary" href="{% url 'payroll:employee_payslip' pk=payslip.id %}">View PaySlip</a></td>
							{% comment %} <td class="text-end">
								<div class="dropdown dropdown-action">
									<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_salary"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_salary_{{ salary.id }}"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
									</div>
								</div>
							</td> {% endcomment %}
						</tr>
						<!-- Delete Salary Modal -->
						{% comment %} <div class="modal custom-modal fade" id="delete_salary_{{ salary.id }}" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Delete Salary</h3>
											<p>Are you sure want to delete?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="{% url 'payroll:delete_salary' pk=salary.id %}" class="btn btn-primary continue-btn">Delete</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> {% endcomment %}
						<!-- /Delete Salary Modal -->

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

<!-- Add Salary Modal -->
<div id="add_salary" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Calculate Staff Salary</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="create_form" method="POST" action="{% url 'payroll:create_salary' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row"> 
						<div class="col-sm-6"> 
							<div class="input-block mb-3">
								<label class="col-form-label">Select Staff</label>
								{{ form.employee }}
								{% if form.employee.errors %}
								<span class="error">{{ form.employee.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6"> 
							<label class="col-form-label">Net Salary</label>
							{{ form.net_salary }}
							{% if form.net_salary.errors %}
							<span class="error">{{ form.net_salary.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="row"> 
						<div class="col-sm-6"> 
							<h4 class="text-primary">Earnings</h4>
							<!-- Loop through and display payroll items of category 'Additions' -->
							<!-- Render Basic Salary field first -->
                            <div class="addition input-block mb-3">
                                <label class="col-form-label">Basic Salary</label>
                                <input class="form-control" type="text" name="Basic Salary">
                                {% if form.payroll_item.errors %}
                                    <span class="error">{{ form.payroll_item.errors.0 }}</span>
                                {% endif %}
                            </div>
							<!-- Render dynamic fields of category 'Additions' -->
							{% for field_name in additions_fields %}
							{% if field_name != 'Basic Salary' %}
								<div class="addition input-block mb-3">
									<label for="{{ field_name }}" class="col-form-label">{{ field_name }}</label>
									<input id="{{ field_name }}" class="form-control" type="text" name="{{ field_name }}">
									{% if field_name.errors %}
										<span class="error">{{ field_name.errors.0 }}</span>
									{% endif %}
								</div>
							{% endif %}
							{% endfor %}
						</div>
						<div class="col-sm-6">  
							<h4 class="text-primary">Deductions</h4>
							 <!-- Render dynamic fields of category 'Deductions' -->
							 {% for field_name in deductions_fields %}
								<div class="deduction input-block mb-3">
									<label for="{{ field_name }}" class="col-form-label">{{ field_name }}</label>
									<input id="{{ field_name }}" class="form-control" type="text" name="{{ field_name }}">
									{% if field_name.errors %}
										<span class="error">{{ field_name.errors.0 }}</span>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" onclick="submitCreateForm(event)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Salary Modal -->

<!-- Edit Salary Modal -->
<div id="edit_salary" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Staff Salary</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="salary.html">
					<div class="row"> 
						<div class="col-sm-6"> 
							<div class="input-block mb-3">
								<label class="col-form-label">Select Staff</label>
								<select class="select"> 
									<option>John Doe</option>
									<option>Richard Miles</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6"> 
							<label class="col-form-label">Net Salary</label>
							<input class="form-control" type="text" value="$4000">
						</div>
					</div>
					<div class="row"> 
						<div class="col-sm-6"> 
							<h4 class="text-primary">Earnings</h4>
							<div class="input-block mb-3">
								<label class="col-form-label">Basic</label>
								<input class="form-control" type="text" value="$6500">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">DA(40%)</label>
								<input class="form-control" type="text" value="$2000">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">HRA(15%)</label>
								<input class="form-control" type="text" value="$700">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Conveyance</label>
								<input class="form-control" type="text" value="$70">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Allowance</label>
								<input class="form-control" type="text" value="$30">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Medical  Allowance</label>
								<input class="form-control" type="text" value="$20">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Others</label>
								<input class="form-control" type="text">
							</div>  
						</div>
						<div class="col-sm-6">  
							<h4 class="text-primary">Deductions</h4>
							<div class="input-block mb-3">
								<label class="col-form-label">TDS</label>
								<input class="form-control" type="text" value="$300">
							</div> 
							<div class="input-block mb-3">
								<label class="col-form-label">ESI</label>
								<input class="form-control" type="text" value="$20">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">PF</label>
								<input class="form-control" type="text" value="$20">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Leave</label>
								<input class="form-control" type="text" value="$250">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Prof. Tax</label>
								<input class="form-control" type="text" value="$110">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Labour Welfare</label>
								<input class="form-control" type="text" value="$10">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Fund</label>
								<input class="form-control" type="text" value="$40">
							</div>
							<div class="input-block mb-3">
								<label class="col-form-label">Others</label>
								<input class="form-control" type="text" value="$15">
							</div>
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Edit Salary Modal -->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <!-- Add JavaScript code to handle form submission and show SweetAlert messages -->

<script>
    function loadCreateSalaryForm() {
		netSalary = 0;
        console.log("salary form load called");
        fetch("{% url 'payroll:create_salary' %}")
            .then(response => response.text())
            .then(data => {            
                // Create a temporary element to hold the form HTML
                var tempElement = document.createElement('div');
                tempElement.innerHTML = data;

                // Find the form element in the temporary element
                var formElement = tempElement.querySelector('#create_form');

                // Append the form to the modal body
                var modalBody = document.querySelector('#add_salary .modal-body');
                modalBody.innerHTML = '';
                modalBody.appendChild(formElement);

                // Show the modal
                $('#add_salary').modal('show');
                console.log("modal showed");
                // Attach event listeners after the form is loaded
                attachEventListeners();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function attachEventListeners() {
        $('input[name="Basic Salary"]').on('input', function() {
            var url = "{% url 'payroll:ajax_load_salary_components' %}";
            var basicSalary = parseFloat($(this).val());
			netSalary = netSalary+basicSalary;
            $.ajax({
                url: url,
                data: {'basic_salary': basicSalary},
                success: function(data) {    
                    $('input[name="DA"]').val($(data).filter('input[name="DA"]').val());
                    $('input[name="HRA"]').val($(data).filter('input[name="HRA"]').val());
                    $('input[name="ESI"]').val($(data).filter('input[name="ESI"]').val());
                    $('input[name="PF"]').val($(data).filter('input[name="PF"]').val());
                    $('input[name="TDS"]').val($(data).filter('input[name="TDS"]').val());                    
                    // Update net salary after receiving data from the server
					calculateNetSalary();
					//savePayslipData();
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });		
		$('.addition input[type="text"], .deduction input[type="text"]').on('input', function() {
			console.log("addition Input and deduction input changed!");
			calculateNetSalary();
		});	
			
    }	

	function calculateNetSalary() {//var netSalary = basicSalary;
		
        // Initialize variables to store the total additions and deductions
        var totalAdditions = 0;
        var totalDeductions = 0;

        // Iterate through all input fields under the class "addition"
        $('.addition input[type="text"]').each(function(index, element) {
            // Get the value of the input field and convert it to a number
            var value = parseFloat($(element).val());

            // Add the value to the total additions if it's a valid number
            if (!isNaN(value)) {
                totalAdditions += value;
            }
        });

        // Iterate through all input fields under the class "deduction"
        $('.deduction input[type="text"]').each(function(index, element) {
            // Get the value of the input field and convert it to a number
            var value = parseFloat($(element).val());

            // Add the value to the total deductions if it's a valid number
            if (!isNaN(value)) {
                totalDeductions += value;
            }
        });

        // Calculate net salary by subtracting total deductions from total additions
        var netSalary = totalAdditions - totalDeductions;
        // Set the calculated net salary value to the corresponding form field
        $('input[name="net_salary"]').val(netSalary.toFixed(2));	
	}
	
	function submitCreateForm(event) {
		event.preventDefault();  // Prevent the default form submission behavior
		
		var form = document.getElementById('create_form');
		var formData = new FormData(form);
	
		fetch(form.action, {
			method: 'POST',
			body: formData,
		})
		.then(response => response.json())
		.then(data => {
			console.log(data);
			console.log("status", data.status);
			console.log('data.redirect_url:', data.redirect_url);
	
			// Corrected variable name here
			if (data.status === 'true') {
			console.log("status is true");
			console.log("redirect url", data.redirect_url);
			showSweetAlert(data.message, data.status, data.redirect_url);
			//savePayslipData();
			} else if (data.status === 'form_error') {
			console.log("status is form_error");
			showSweetAlert(data.message, 'form_error');
			} else if (data.status === 'false') {
			console.log("status is false");
			showSweetAlert(data.message, data.status);
			} else {
			console.log("status is neither true or false");
			showSweetAlert(data.message, 'error');
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});
		}
		
		function showSweetAlert(message, status, redirectUrl) {
		console.log('showSweetAlert called');
		console.log('message:', message);
		console.log('status:', status);
		console.log('redirectUrl:', redirectUrl);
	
		if (status === 'true') {			
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
	
			didClose: () => {
				console.log('Redirecting to:', redirectUrl);
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				console.log('Full Redirect URL:', fullRedirectUrl);
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else if (status === 'form_error') {
			console.log('Showing form error alert');
			Swal.fire({
			icon: 'error',
			title: 'Form Validation Error!',
			html: message,  // Display form errors as HTML
			showConfirmButton: true,
			allowOutsideClick: false,
			});
		} else if (status === 'false') {
			console.log('Showing form error alert');
			Swal.fire({
			icon: 'error',
			title: 'Form Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		} else {
			console.log('Showing error alert');
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
	}
	

	// Function to handle delete action
	function handleDelete(pk) {
		Swal.fire({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this HRMS Client!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		})
		.then((result) => {
			if (result.isConfirmed) {
				// If user confirms, send Fetch API request to delete
				fetch('{% url "payroll:delete_salary" pk=0 %}'.replace('0', pk), {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}'
					},
				})
				.then(response => response.json())
				.then(data => {
					// Handle success response
					if (data.status === "true") {
						Swal.fire({
							title: data.title,
							text: data.message,
							icon: "success",
						})
						.then((value) => {
							// Redirect to the specified URL after success
							window.location.href = data.redirect_url;
						});
					} else {
						Swal.fire("Error", "An error occurred while deleting.", "error");
					}
				})
				.catch(() => {
					// Handle error
					Swal.fire("Error", "An error occurred while processing the request.", "error");
				});
			} else {
				Swal.fire("Salary is safe!");
			}
		});
	}

	// Attach click event to delete button
	document.querySelectorAll('.remove').forEach(function(el) {
		el.addEventListener('click', function(e) {
			e.preventDefault();
			var pk = this.getAttribute('data-id');
			handleDelete(pk);
		});
	});
	
</script>

{% endblock %}