{% extends "base/base_settings.html" %}
{%load static%}

{% block content %}
<div class="col-md-8 offset-md-2">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Salary Settings</h3>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<form id="create_update_form" method="POST" action="{% if instance %}{% url 'payroll:edit_salary_setting' pk=instance.pk %}{% else %}{% url 'payroll:create_salary_setting' %}{% endif %}" enctype="multipart/form-data">

		{% csrf_token %}
		<!-- DA and HRA Settings -->
		<div class="settings-widget">
			<div class="h3 card-title with-switch">
				DA and HRA 			
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">DA (%)</label>
						{{ form.da }}
						{% if form.da.errors %}
						<span class="error">{{ form.da.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">HRA (%)</label>
						{{ form.hra }}
						{% if form.hra.errors %}
						<span class="error">{{ form.hra.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /DA and HRA Settings -->
		
		<!-- Provident Fund Settings -->
		<div class="settings-widget">
			<div class="h3 card-title with-switch">
				Provident Fund Settings 
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">Employee Share (%)</label>
						{{ form.pf_emp }}
						{% if form.pf_emp.errors %}
						<span class="error">{{ form.pf_emp.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">Organization Share (%)</label>
						{{ form.pf_org }}
						{% if form.pf_org.errors %}
						<span class="error">{{ form.pf_org.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="input-block mb-3">
					<label class="col-form-label">Total fixed PF (if pf not in %)</label>
					{{ form.pf_fixed }}
					{% if form.pf_fixed.errors %}
					<span class="error">{{ form.pf_fixed.errors.0 }}</span>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- /Provident Fund Settings -->
		
		<!-- ESI Settings -->
		<div class="settings-widget">
			<div class="h3 card-title with-switch">
				ESI Settings 	
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">Employee Share (%)</label>
						{{ form.esi_emp }}
						{% if form.esi_emp.errors %}
						<span class="error">{{ form.esi_emp.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="input-block mb-3">
						<label class="col-form-label">Organization Share (%)</label>
						{{ form.esi_org }}
						{% if form.esi_org.errors %}
						<span class="error">{{ form.esi_org.errors.0 }}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<!-- /ESI Settings -->
		
		<!-- TDS Settings -->
		<div class="settings-widget">
			<div class="h3 card-title with-switch">
				TDS&nbsp; <small class="form-text text-muted"></small>
				{{ form.tds }}
				{% if form.tds.errors %}
				<span class="error">{{ form.tds.errors.0 }}</span>
				{% endif %}
		</div>
		<!-- /TDS Settings -->
		
		<!-- Submit Button -->
		<div class="submit-section">
			<button class="btn btn-primary submit-btn" onclick="submitForm(event)" type="submit">Save</button>
		</div>
		<!-- /Submit Button -->
		
	</form>
</div>
<!-- /Page Content -->
<!-- Include SweetAlert JS from CDN -->
  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Add JavaScript code to handle form submission and show SweetAlert messages -->
<script>
	function submitForm(event) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('create_update_form');
	var formData = new FormData(form);
	
	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}
	
	function showSweetAlert(message, status, redirectUrl) {	
	if (status === 'true') {
		Swal.fire({
		icon: 'success',
		title: 'Success!',
		text: message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
	
		didClose: () => {
			if (redirectUrl) {
			// Combine the redirect URL with the current protocol and host to get the full URL
			var fullRedirectUrl = window.location.origin + redirectUrl;
			window.location.href = fullRedirectUrl;
			}
		}
		});
	} else if (status === 'form_error') {
		Swal.fire({
		icon: 'error',
		title: 'Form Validation Error!',
		html: message,  // Display form errors as HTML
		showConfirmButton: true,
		allowOutsideClick: false,
		});
	} else if (status === 'false') {
		Swal.fire({
		icon: 'error',
		title: 'Form Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	} else {
		Swal.fire({
		icon: 'error',
		title: 'Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	}
	}
	
</script>

{% endblock %}