{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Employee Salary</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Salary</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" onclick="loadCreateSalaryForm()" data-bs-toggle="modal" data-bs-target="#add_salary"><i class="fa-solid fa-plus"></i> Generate PaySlip</a>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<form action="" method="GET">
		<div class="row filter-row">
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating" name="employee_name">
					<label class="focus-label">Employee Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
				<div class="input-block mb-3 form-focus select-focus">
					<input type="text" class="form-control floating" name="employee_designation">
					<label class="focus-label">Role</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
				<div class="input-block mb-3 form-focus select-focus">
					<input type="text" class="form-control floating" name="month">
					<label class="focus-label">Month</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
				<div class="input-block mb-3 form-focus select-focus">
					<input type="text" class="form-control floating" name="year">
					<label class="focus-label">Year</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
				<div class="d-grid">
					<button class="btn btn-primary w-100" type="submit">Search</button>
				</div>  
			</div> 
		</div>
	</form>
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table datatable">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Employee ID</th>
							<th>Email</th>
							<th>Join Date</th>
							<th>Role</th>
							<th>Month</th>
							<th>Salary</th>
							<th>Payslip</th>
							<th class="text-end">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for salary in salaries %}
						<tr>
							<td>
								<h2 class="table-avatar">
									<a href="#" class="avatar"><img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="User Image"></a>
									<a href="profile.html">{{ salary.employee.get_full_name }} <span>{{ salary.employee.salary }}</span></a>
								</h2>
							</td>
							<td>{{ salary.employee.employeeid }}</td>
							<td>{{ salary.employee.email }}</td>
							<td>{{ salary.employee.joindate }}</td>
							<td>{{ salary.employee.designation }}</td>
							<td>{{ salary.date|date:"F Y" }}</td>
							<td>{{ salary.net_salary }}</td>
							<td><a class="btn btn-sm btn-primary" href="{% url 'payroll:payslip' pk=salary.id %}">View PaySlip</a></td>
							<td class="text-end">
								<div class="dropdown dropdown-action">
									<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#"onclick="attachEditEventListeners(event,`{{ salary.id }}`)" data-bs-toggle="modal" data-bs-target="#edit_salary_{{ salary.id }}"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_salary_{{ salary.id }}"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
									</div>
								</div>
							</td>
						</tr>
						<!-- Edit Salary Modal -->
						<div id="edit_salary_{{ salary.id }}" class="modal custom-modal fade" role="dialog">
							<div class="modal-dialog modal-dialog-centered modal-md" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit Staff Salary</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="update_form_{{ salary.id }}" method="POST" action="{% url 'payroll:edit_salary' pk=salary.id %}" enctype="multipart/form-data">
											{% csrf_token %}											
											<div class="row"> 
												<div class="col-sm-6"> 
													<div class="input-block mb-3">
														<label class="col-form-label">Select Staff</label>
														<select name="employee" id="employee_name_{{ salary.id }}" class="form-control">
															{% for employee in employees %}
																<option value="{{ employee.id }}" {% if employee.id == salary.employee.id %} selected {% endif %}>{{ salary.employee }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="col-sm-6"> 
													<label class="col-form-label">Net Salary</label>
													<input name="net_salary" id="net_salary" class="form-control" type="text" value="{{salary.net_salary}}">
												</div>
												<div class="col-sm-6"> 
													<label class="col-form-label">Date</label>
													<input name="date" id="date" class="form-control" type="text" value="{{salary.date}}">
												</div>
											</div>
											<div class="row"> 
												<div class="col-sm-6"> 
													<h4 class="text-primary">Earnings</h4>
													 <!-- Display Basic Salary separately -->													 
													{% for item in additions_data %}
														{% if item.name == 'Basic Salary' %}
															<div class="addition input-block mb-3">
																<label for="{{ item.name }}" class="col-form-label">{{ item.name }}</label>
																<input id="{{ item.name }}" class="form-control" type="text" name="{{ item.name }}" value="{{ item.value }}">
																{% if form.errors.item.name %}
																	<span class="error">{{ form.errors.item.name.0 }}</span>
																{% endif %}
															</div>
														{% endif %}
													{% endfor %}
													{% for item in additions_data %}
														{% if item.name != 'Basic Salary' %}
															<div class="addition input-block mb-3">
																<label for="{{ item.name }}" class="col-form-label">{{ item.name }}</label>
																<input id="{{ item.name }}" class="form-control" type="text" name="{{ item.name }}" value="{{ item.value }}">
																{% if form.errors.item.name %}
																	<span class="error">{{ form.errors.item.name.0 }}</span>
																{% endif %}
															</div>
														{% endif %}
													{% endfor %}
												</div>
												<div class="col-sm-6">  
													<h4 class="text-primary">Deductions</h4>
													{% for item in deductions_data %}
														<div class="deduction input-block mb-3">
															<label for="{{ item.name }}" class="col-form-label">{{ item.name }}</label>
															<input id="{{ item.name }}" class="form-control" type="text" name="{{ item.name }}" value="{{ item.value }}">
															{% if form.errors.item.name %}
																<span class="error">{{ form.errors.item.name.0 }}</span>
															{% endif %}
														</div>
													{% endfor %}
												</div>
											</div>
											<div class="submit-section">
												<button class="btn btn-primary submit-btn" onclick="submitUpdateForm(event, '{{salary.id}}')">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /Edit Salary Modal --> 

						<!-- Delete Salary Modal -->
						<div class="modal custom-modal fade" id="delete_salary_{{ salary.id }}" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Delete Salary</h3>
											<p>Are you sure want to delete?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="{% url 'payroll:delete_salary' pk=salary.id %}" data-id="{{ salary.id }}" class="remove btn btn-primary continue-btn">Delete</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Delete Salary Modal -->

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

<!-- Add Salary Modal -->
<div id="add_salary" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Calculate Staff Salary</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="create_form" method="POST" action="{% url 'payroll:create_salary' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row"> 
						<div class="col-sm-6"> 
							<div class="input-block mb-3">
								<label class="col-form-label">Select Staff</label>
								{{ form.employee }}
								{% if form.employee.errors %}
								<span class="error">{{ form.employee.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						
						<div class="col-sm-6"> 
							<label class="col-form-label">Net Salary</label>
							{{ form.net_salary }}
							{% if form.net_salary.errors %}
							<span class="error">{{ form.net_salary.errors.0 }}</span>
							{% endif %}
						</div>
					</div>
					<div class="input-block mb-3">
						<label class="col-form-label">Select Date</label>
						{{ form.date }}
						{% if form.date.errors %}
						<span class="error">{{ form.date.errors.0 }}</span>
						{% endif %}
					</div>					
					<div class="row"> 
						<div class="col-sm-6" style="border: 1px solid #a09d9d;"> 
							<h4 class="text-primary">Earnings</h4>
							<!-- Loop through and display payroll items of category 'Additions' -->
							<!-- Render Basic Salary field first -->
                            <div class="add addition input-block mb-3">
                                <label class="col-form-label">Basic Salary</label>
                                <input class="form-control" type="text" name="Basic Salary" data-basic-salary="0">
                                {% if form.payroll_item.errors %}
                                    <span class="error">{{ form.payroll_item.errors.0 }}</span>
                                {% endif %}
                            </div>
							<!-- Render dynamic fields of category 'Additions' -->
							{% for field_name in additions_fields %}
							{% if field_name != 'Basic Salary' %}
								<div class="add_addition input-block mb-3">
									<label for="{{ field_name }}" class="col-form-label">{{ field_name }}</label>
									<input id="{{ field_name }}" class="form-control" type="text" name="{{ field_name }}">
									{% if field_name.errors %}
										<span class="error">{{ field_name.errors.0 }}</span>
									{% endif %}
								</div>
							{% endif %}
							{% endfor %}
						</div>
						<div class="col-sm-6" style="border: 1px solid #a09d9d;">  
							<h4 class="text-primary">Deductions</h4>
							<!-- Render dynamic fields of category 'Deductions' -->
							{% for field_name in deductions_fields %}
								<div class="add_deduction input-block mb-3">
									{% if field_name == "TDS" %}
										<label for="{{ field_name }}" class="col-form-label">
											TDS 
											<a href="https://www.moneycontrol.com/personal-finance/tools/income-tax-calculator" target="_blank" title="Income Tax Calculator">
												Help<i class="fa-solid fa-question-circle"></i>
											</a>
										</label>
									{% else %}
										<label for="{{ field_name }}" class="col-form-label">{{ field_name }}</label>
									{% endif %}
									<input id="{{ field_name }}" class="form-control" type="text" name="{{ field_name }}">
									{% if field_name.errors %}
										<span class="error">{{ field_name.errors.0 }}</span>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" onclick="submitCreateForm(event)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Salary Modal -->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Add JavaScript code to handle form submission and show SweetAlert messages -->
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>

<script>
	
	$(document).ready(function() {
        attachEventListeners();
    });

    function loadCreateSalaryForm() {
		netSalary = 0;
        fetch("{% url 'payroll:create_salary' %}")
            .then(response => response.text())
            .then(data => {            
                // Create a temporary element to hold the form HTML
                var tempElement = document.createElement('div');
                tempElement.innerHTML = data;

                // Find the form element in the temporary element
                var formElement = tempElement.querySelector('#create_form');

                // Append the form to the modal body
                var modalBody = document.querySelector('#add_salary .modal-body');
                modalBody.innerHTML = '';
                modalBody.appendChild(formElement);

                // Show the modal
                $('#add_salary').modal('show');
                // Attach event listeners after the form is loaded
                attachEventListeners();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
	
	// Global variable to store basic salary
	var basicSalary = 0;

	function attachEventListeners() {
		// Event listener for Basic Salary change
		$('input[name="Basic Salary"]').on('input', function() {
			basicSalary = parseFloat($(this).val()) || 0; // Update the global variable
			loadSalaryComponents(basicSalary);
			calculateNetSalary();
		});

		// Event listener for other addition and deduction fields change
		$(document).on('input', '.add_addition input[type="text"], .add_deduction input[type="text"]', function() {
			calculateNetSalary();
		});		

		$('#id_employee').on('change', function() {
			var employeeId = $(this).val();
			var url = "{% url 'payroll:get_last_payslip' %}";
			$.ajax({
				url: url,
				method: 'GET',
				data: {'employee_id': employeeId},
				success: function(response) {
					$('input[name="Basic Salary"]').val(response.basic_salary);
					basicSalary = parseFloat(response.basic_salary) || 0; // Update the global variable
					$('#id_net_salary').val(response.net_salary);
					$('#id_date').val(response.date);

					response.additions_fields.forEach(function(field) {
						$('input#' + field.field_name).val(field.field_value);
					});

					response.deductions_fields.forEach(function(field) {
						$('input#' + field.field_name).val(field.field_value);
					});

					$('#total_deductions').val(response.total_deductions);

					calculateNetSalary();
					attachEventListeners();
				},
				error: function(xhr, status, error) {
					console.error('Error:', error);
				}
			});
		});
	}

	function loadSalaryComponents(basicSalary) {
		var url = "{% url 'payroll:ajax_load_salary_components' %}";
		$.ajax({
			url: url,
			data: {'basic_salary': basicSalary},
			success: function(data) {
				$('input[name="DA"]').val($(data).filter('input[name="DA"]').val());
				$('input[name="HRA"]').val($(data).filter('input[name="HRA"]').val());
				$('input[name="ESI"]').val($(data).filter('input[name="ESI"]').val());
				$('input[name="PF"]').val($(data).filter('input[name="PF"]').val());
				$('input[name="TDS"]').val($(data).filter('input[name="TDS"]').val());
				calculateNetSalary();
			},
			error: function(xhr, status, error) {
				console.error('Error:', error);
			}
		});
	}

	function calculateTotalWorkingDays() {
		var selectedMonth = $('input[name="month"]').val();
		var selectedYear = $('input[name="year"]').val();
		var totalDaysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();
		var weekendCount = 0;
		var holidayCount = 0;

		for (var day = 1; day <= totalDaysInMonth; day++) {
			var currentDate = new Date(selectedYear, selectedMonth - 1, day);
			if (currentDate.getDay() === 0 || currentDate.getDay() === 6) {
				weekendCount++;
			}
		}

		var totalWorkingDays = totalDaysInMonth - weekendCount - holidayCount;

		return totalWorkingDays;
	}

	function calculateNetSalary() {
		var totalWorkingDays = calculateTotalWorkingDays();

		var nonPaidLeaveDays = $('input[name="Leave"]').val();
		nonPaidLeaveDays = nonPaidLeaveDays === '' ? 0 : parseInt(nonPaidLeaveDays);

		var leaveDeduction = (basicSalary / totalWorkingDays) * nonPaidLeaveDays;

		var totalAdditions = 0;
		$('.add_addition input[type="text"]').each(function(index, element) {
			if ($(element).attr('name') !== 'Basic Salary') {
				var value = parseFloat($(element).val());
				if (!isNaN(value)) {
					totalAdditions += value;
				}
			}
		});

		var totalDeductions = 0;
		$('.add_deduction input[type="text"]').each(function(index, element) {
			if ($(element).attr('name') !== 'Leave') {
				var value = parseFloat($(element).val());
				if (!isNaN(value)) {
					totalDeductions += value;
				}
			}
		});

		totalDeductions += leaveDeduction;

		var netSalary = basicSalary + totalAdditions - totalDeductions;

		$('input[name="net_salary"]').val(netSalary.toFixed(2));
	}

	$('input[name="Leave"]').on('input', function() {
		calculateNetSalary();
	});

	function submitCreateForm(event) {
		event.preventDefault();  // Prevent the default form submission behavior
		
		var form = document.getElementById('create_form');
		var formData = new FormData(form);
	
		fetch(form.action, {
			method: 'POST',
			body: formData,
		})
		.then(response => response.json())
		.then(data => {	
			// Corrected variable name here
			if (data.status === 'true') {
			showSweetAlert(data.message, data.status, data.redirect_url);
			//savePayslipData();
			} else if (data.status === 'form_error') {
			showSweetAlert(data.message, 'form_error');
			} else if (data.status === 'false') {
			showSweetAlert(data.message, data.status);
			} else {
			showSweetAlert(data.message, 'error');
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});
		}
		
		function showSweetAlert(message, status, redirectUrl) {	
		if (status === 'true') {			
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
	
			didClose: () => {
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else if (status === 'form_error') {
			Swal.fire({
			icon: 'error',
			title: 'Form Validation Error!',
			html: message,  // Display form errors as HTML
			showConfirmButton: true,
			allowOutsideClick: false,
			});
		} else if (status === 'false') {
			Swal.fire({
			icon: 'error',
			title: 'Form Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		} else {
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
	}

	function submitUpdateForm(event,salaryId) {
		event.preventDefault();  // Prevent the default form submission behavior
		var form = document.getElementById('update_form_' + salaryId);
		var formData = new FormData(form);
	
		fetch(form.action, {
			method: 'POST',
			body: formData,
		})
		.then(response => response.json())
		.then(data => {	
			// Corrected variable name here
			if (data.status === 'true') {
			showSweetAlert(data.message, data.status, data.redirect_url);
			} else if (data.status === 'form_error') {
			showSweetAlert(data.message, 'form_error');
			} else if (data.status === 'false') {
			showSweetAlert(data.message, data.status);
			} else {
			showSweetAlert(data.message, 'error');
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});
		}
    function attachEditEventListeners() {
		$('input[name="Basic Salary"]').on('input', calculateEditNetSalary);
		$('.addition input[type="text"], .deduction input[type="text"]').on('input', calculateEditNetSalary);
	}
	
	function calculateEditNetSalary() {
		var basicSalary = parseFloat($('input[name="Basic Salary"]').val()) || 0;
		var totalAdditions = 0;
		var totalDeductions = 0;
	
		$('.addition input[type="text"]').each(function() {
			var fieldName = $(this).attr('name');
			if (fieldName !== 'Basic Salary') {
				totalAdditions += parseFloat($(this).val()) || 0;
			}
		});
	
		$('.deduction input[type="text"]').each(function() {
			totalDeductions += parseFloat($(this).val()) || 0;
		});
	
		var netSalary = basicSalary + totalAdditions - totalDeductions;
		$('input[name="net_salary"]').val(netSalary.toFixed(2));
	}
	

	// Function to handle delete action
	function handleDelete(pk) {
		Swal.fire({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this PaySlip!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		})
		.then((result) => {
			if (result.isConfirmed) {
				// If user confirms, send Fetch API request to delete
				fetch('/app/payroll/delete-salary/' + pk + '/', { // Use pk variable directly
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}'
					},
				})
				.then(response => response.json())
				.then(data => {
					// Handle success response
					if (data.status === "true") {
						showDeleteSweetAlert(data.message, data.status, data.redirect_url);
					} else {
						Swal.fire("Error", "An error occurred while deleting.", "error");
					}
				})
				.catch(() => {
					// Handle error
					Swal.fire("Error", "An error occurred while processing the request.", "error");
				});
			} else {
				Swal.fire("PaySlip is safe!");
			}
		});
	}
	function showDeleteSweetAlert(message, status, redirectUrl) {		
		if (status === 'true') {
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
		
			didClose: () => {
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else {
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
		}		
	
		// Attach click event to delete button
		document.querySelectorAll('.remove').forEach(function(el) {
			el.addEventListener('click', function(e) {
				e.preventDefault();
				var pk = this.getAttribute('data-id');
				handleDelete(pk);
			});
		});
	
</script>

{% endblock %}
