{% extends "sevendyne_admin/base.html" %}
{% load static %}

{% block content %}

<!-- Section: Design Block -->
<section class="" style="width: 70%;margin-top: -3%;margin-left: 25%;">    
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
      <div class="container">
        <div class="row gx-lg-5 align-items-center">            
          <div class="col-lg-8 mb-5 mb-lg-0">           
            <div class="card">
              <h3 style="margin-top: 3%;color: #2c9792;">HRMS Client Creation Form</h3>
              <div class="card-body py-5 px-md-5">
                      <div class="form-outline mb-4">  
                        <label class="form-label" for="form3Example1" style="color: black; font-weight: bolder;">First name</label> 
                        {{ instance.first_name }}  
                      </div>
                      <div class="form-outline mb-4"> 
                        <label class="form-label" for="form3Example2" style="color: black; font-weight: bolder;">Last name</label>
                        {{ instance.last_name }}  
                      </div>  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3" style="color: black; font-weight: bolder;">Email address</label>
                    {{ instance.email }}
                  </div>
                  <!-- Username input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3" style="color: black; font-weight: bolder;">User Name</label>
                    {{ instance.username }}     
                  </div>  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4" style="color: black; font-weight: bolder;">Password</label>
                    {{ instance.password }}
                  </div>     
                   <!-- is_enabled input -->
                   <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4" style="color: black; font-weight: bolder;">Is Enabled? </label>
                    {{ instance.is_enabled }}
                  </div>  
                  <!-- Created At input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4" style="color: black; font-weight: bolder;">Created Date</label>
                    {{ instance.created_at }}
                  </div>                            
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

 
{% endblock %}