{% load static %}
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <title>Localization - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.png'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/bootstrap.min.css'%}">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/plugins/fontawesome/css/fontawesome.min.css'%}">
    	<link rel="stylesheet" href="{%static 'hrms/assets/plugins/fontawesome/css/all.min.css'%}">

		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/line-awesome.min.css'%}">
		<link rel="stylesheet" href="{%static 'hrms/assets/css/material.css'%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{%static 'hrms/assets/css/select2.min.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/style.css'%}">
		
		 
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-8 offset-md-2">
						
							<!-- Page Header -->
							<div class="page-header">
								<div class="row">
									<div class="col-sm-12">
										<h3 class="page-title">Basic Settings</h3>
									</div>
								</div>
							</div>
							<!-- /Page Header -->
							
							<form>
								<div class="row">
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Default Country</label>
											<select class="select">
												<option selected="selected">USA</option>
												<option>United Kingdom</option>
                                                <option>India</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Date Format</label>
											<select class="select">
												<option value="d/m/Y">15/05/2016</option>
												<option value="d.m.Y">15.05.2016</option>
												<option value="d-m-Y">15-05-2016</option>
												<option value="m/d/Y">05/15/2016</option>
												<option value="Y/m/d">2016/05/15</option>
												<option value="Y-m-d">2016-05-15</option>
												<option value="M d Y">May 15 2016</option>
												<option selected="selected" value="d M Y">15 May 2016</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Timezone</label>
											<select class="select">
												<option>(UTC +5:30) Antarctica/Palmer</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Default Language</label>
											<select class="select">
												<option selected="selected">English</option>
												<option>French</option>
                                                <option>Italian</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Currency Code</label>
											<select class="select">
												<option selected="selected">USD</option>
												<option>Pound</option>
												<option>EURO</option>
												<option>Ringgit</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-block mb-3">
											<label class="col-form-label">Currency Symbol</label>
											<input class="form-control" readonly value="$" type="text">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="submit-section">
											<button class="btn btn-primary submit-btn">Save</button>
										</div>
									</div>
								</div>
                            </form>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->

	

		<!-- jQuery -->
       <script src="{%static 'hrms/assets/js/jquery-3.7.1.min.js'%}"></script>

		<!-- Bootstrap Core JS -->
        <script src="{%static 'hrms/assets/js/bootstrap.bundle.min.js'%}"></script>

		<!-- Slimscroll JS -->
		<script src="{%static 'hrms/assets/js/jquery.slimscroll.min.js'%}"></script>
		
		<!-- Select2 JS -->
		<script src="{%static 'hrms/assets/js/select2.min.js'%}"></script>

		 <!-- Theme Settings JS -->
		<script src="{%static 'hrms/assets/js/layout.js'%}"></script>
		<script src="{%static 'hrms/assets/js/theme-settings.js'%}"></script>
		<script src="{%static 'hrms/assets/js/greedynav.js'%}"></script>
		<!-- Custom JS -->
		<script src="{%static 'hrms/assets/js/app.js'%}"></script>
		
    </body>
</html>