{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Profile</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Profile</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<div class="card mb-0">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="profile-view">
						<div class="profile-img-wrap">
							<div class="profile-img">
								{% if client.photo %}
									<img src="{{ client.photo.url }}" alt="{{ client.firstname }}'s profile photo">
								{% else %}
									<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="Default User Image">
								{% endif %}
							</div>
						</div>
						{% comment %} <div class="profile-basic">
							<div class="row">
								<div class="col-md-5">
									<div class="profile-info-left">
										<h3 class="user-name m-t-0">{{ client.get_full_name }}</h3>
										<div class="staff-id">Project ID : {{ client.clientid }}</div>
									</div>
								</div>
								<div class="col-md-7">
									<ul class="personal-info">
										<li>
											<span class="title">Phone:</span>
											<span class="text"><a href="">{{ client.phone }}</a></span>
										</li>
										<li>
											<span class="title">Email:</span>
											<span class="text"><a href="">{{ client.email }}</a></span>
										</li>										
										<li>
											<span class="title">Address:</span>
											<span class="text">{{ client.address }}</span>
										</li>
										<li>
											<span class="title">Company Name:</span>
											<span class="text"><a href="">{{ client.company_name }}</a></span>
										</li>
									</ul>
								</div>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- /Page Content -->

{% endblock %}