{% extends "sevendyne_admin/base.html" %}
{% load static %}

{% block content %}

<!-- Section: Design Block -->
<section class="" style="width: 70%;margin-top: -3%;margin-left: 25%;">    
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">            
        <div class="col-lg-8 mb-5 mb-lg-0">           
          <div class="card">
            <h3 style="margin-top: 3%;color: #2c9792;">Holiday Creation Form</h3>
            <div class="card-body py-5 px-md-5">
                <div class="form-outline mb-4">  
                  <label class="form-label" for="form3Example1" style="color: black; font-weight: bolder;">Holiday name</label> 
                  {{ instance.name }}  
                </div>
                <div class="form-outline mb-4"> 
                  <label class="form-label" for="form3Example2" style="color: black; font-weight: bolder;">Holiday Date</label>
                  {{ instance.date|date:"j M Y" }}  
                </div>  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3" style="color: black; font-weight: bolder;">Holiday day</label>
                  {{ instance.date|date:"l"  }}
                </div>       
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
</section> 
{% endblock %}