<!DOCTYPE html>
{% load static %}
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <title>Login - Sevendyne HRMS</title>
		
		<!-- Favicon -->
		<link href="{% static 'job_portal/img/logo1.png'%}" rel="icon">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/material.css' %}">
			
		<!-- Lineawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    </head>
    <body class="account-page">
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<div class="container">
					<!-- hidden div for the popup message -->
					<div id="loginErrorMessage" class="alert alert-danger alert-dismissible fade show" style="display: none;" role="alert">
						{% if error_message %}
							{{ error_message }}
						{% endif %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>					
					<div class="account-box">
						<div class="account-wrapper">
							<!-- Account Logo -->
							<div class="account-logo">
								<a href="#"><img src="{% static 'assets/img/01.png' %}" alt="Sevendyne" style="width:71%"></a>
							</div>
							<!-- /Account Logo -->							
							<h3 class="account-title">Login</h3>
							<p class="account-subtitle">Access to our dashboard</p>							
							<!-- Account Form -->
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="input-block mb-4">
									<label class="col-form-label">Username</label><br>
									{{ form.username }}
									{% if form.username.errors %}
									<span class="error">{{ form.username.errors.0 }}</span>
									{% endif %}
								</div>
								<div class="input-block mb-4">
									<div class="row align-items-center">
										<div class="col">
											<label class="col-form-label">Password</label><br>
										</div>
									</div>
									<div class="position-relative">
										<div class="input-group">
											{{ form.password }}
											<span id="password-icon" class="position-relative input-group-text fa-solid fa-eye-slash" onclick="togglePasswordVisibility()"></span>						
										</div>
										{% if form.password.errors %}
										<span class="error">{{ form.password.errors.0 }}</span>
										{% endif %}
									</div>
								</div>
								<div class="input-block mb-4 text-center">
									<button class="btn btn-primary account-btn" type="submit" style="background: linear-gradient(275.55deg, #50a5d5 0%, #3164b8 100%)">Login</button>
								</div>
							</form>
							<div class="account-footer">
								<p>Sign Up/Register <a href="{% url 'user:signup' %}">Sign Up</a></p>
							</div>
							<!-- /Account Form -->
							<h3>Demo Accounts</h3>
							<p> HRMS Dashboard Login - Username: hrmsclient1, Password: password@123</p>
							<p> Employee Login - Username: employee1, Password: password@123</p>							
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
       <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>
		<!-- JavaScript to display popup message if login fails -->
		<script>
			function togglePasswordVisibility() {
				var passwordField = document.getElementById("id_password");
				var passwordIcon = document.getElementById("password-icon");
				if (passwordField.type === "password") {
					passwordField.type = "text";
					passwordIcon.classList.remove("fa-eye-slash");
					passwordIcon.classList.add("fa-eye");
				} else {
					passwordField.type = "password";
					passwordIcon.classList.remove("fa-eye");
					passwordIcon.classList.add("fa-eye-slash");
				}
			}
			// Check if login failed, then display the error message
			{% if error_message %}
				document.getElementById('loginErrorMessage').style.display = 'block';
			{% endif %}
			// Function to close the error message div when the close button is clicked
			document.addEventListener('DOMContentLoaded', function() {
				document.querySelectorAll('.close').forEach(function(closeBtn) {
					closeBtn.addEventListener('click', function() {
						this.closest('.alert').style.display = 'none';
					});
				});
			});
		</script>
		
    </body>
</html>