<!DOCTYPE html>

{% load static %}
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Talent Management und HRMS Deutschland, Personalbeschaffung und HR-Software, Rekrutierung und HR-Lösungen, Talent Management und Personalverwaltung, HRMS und Rekrutierungsservices" name="keywords">
		<meta name="description" content="At Sevendyne, we connect businesses with top talent and offer free HRMS software to streamline HR operations, reduce costs, and support business growth." name="description">
		<meta property="og:title" content="{% block og_title %}Sevendyne: Unlock Top Talent with Leading HRMS & Talent Management Solutions{% endblock %}" />
		<meta property="og:description" content="{% block og_description %}Sevendyne connects businesses with top talent and offers free HRMS software to streamline HR processes, reduce costs, and drive growth. Simplify your HR operations and empower your business with our innovative solutions.{% endblock %}" />
		{% comment %} <meta property="og:image" content="{% block og_image %}https://sevendyne.com/default-image.jpg{% endblock %}" /> {% endcomment %}
		<meta property="og:url" content="{% block og_url %}https://sevendyne.com{% endblock %}" />
		<meta property="og:type" content="website" />
        <title>Sign Up - Sevendyne HRMS</title>
		
		<!-- Favicon -->
		<link href="{% static 'job_portal/img/logo1.png'%}" rel="icon">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

		 
    </head>
    <body class="account-page">	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<div class="container">
					<!-- hidden div for the popup message -->
					<div id="signupMessage" class="alert alert-danger alert-dismissible fade show" style="display: none;" role="alert">
						{% if message %}
							{{ message }}
						{% endif %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="account-box">
						<div class="account-wrapper">
							<!-- Account Logo -->
							<div class="account-logo">
								<a href="#"><img src="{% static 'assets/img/01.png' %}" alt="Sevendyne" style="width:71%"></a>
							</div>
							<!-- /Account Logo -->
							<h3 class="account-title">Sign Up</h3>
							<p class="account-subtitle">Access to hrms dashboard</p>							
							<!-- Account Form -->
							<form action="" method="post">
								{% csrf_token %}
								<div class="input-block mb-4">
									<label for="email" class="col-form-label">Email<span class="mandatory">*</span></label>
									<input class="form-control" type="email" id="email" name="email" required>
								</div>
								<div class="input-block mb-4">
									<label for="username" class="col-form-label">Username<span class="mandatory">*</span></label>
									<input class="form-control" type="text" id="username" name="username" required>
								</div>
								{% for message in messages %}
									<p style="color:#ff512f">{{message}}</p>
								{% endfor %}
								<div class="input-block mb-4">
									<label for="password" class="col-form-label">Password<span class="mandatory">*</span></label>
									<div class="input-group">
										<input class="form-control" type="password" id="password" name="password" required>
										<span id="password-icon" class="position-relative input-group-text fa-solid fa-eye-slash" onclick="togglePasswordVisibility()"></span>
									</div>
								</div>
								<div class="input-block mb-4">
									<label for="first_name" class="col-form-label">First Name<span class="mandatory">*</span></label>
									<input class="form-control" type="text" id="first_name" name="first_name" required>
								</div>
								<div class="input-block mb-4">
									<label for="last_name" class="col-form-label">Last Name<span class="mandatory">*</span></label>
									<input class="form-control" type="text" id="last_name" name="last_name" required>
								</div>
								<div class="input-block mb-4 text-center">
									<button class="btn btn-primary account-btn" type="submit" value="Register" style="background: linear-gradient(275.55deg, #50a5d5 0%, #3164b8 100%)">Sign Up</button>
								</div>
								<div class="account-footer">
									<p>Already have an account? <a href="{% url 'user:user_login' %}">Login</a></p>
								</div>
							</form>
							<!-- /Account Form -->
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>
		<!-- JavaScript to display popup message if registration success -->
		<script>
			function togglePasswordVisibility() {
				var passwordField = document.getElementById("password");
				var passwordIcon = document.getElementById("password-icon");
				if (passwordField.type === "password") {
					passwordField.type = "text";
					passwordIcon.classList.remove("fa-eye-slash");
					passwordIcon.classList.add("fa-eye");
				} else {
					passwordField.type = "password";
					passwordIcon.classList.remove("fa-eye");
					passwordIcon.classList.add("fa-eye-slash");
				}
			}
			// Check if login failed, then display the error message
			{% if message %}
				document.getElementById('signupMessage').style.display = 'block';
			{% endif %}
			// Function to close the error message div when the close button is clicked
			document.addEventListener('DOMContentLoaded', function() {
				document.querySelectorAll('.close').forEach(function(closeBtn) {
					closeBtn.addEventListener('click', function() {
						this.closest('.alert').style.display = 'none';
					});
				});
			});
		</script>
		
    </body>
</html>