{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="page-title">Profile</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Profile</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<div class="card mb-0">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="profile-view">
						<div class="profile-img-wrap">
							<div class="profile-img">
								<a href="{% url 'employee:employee' pk=employee.pk %}" class="avatar">
									{% if employee.photo %}
										<img src="{{ employee.photo.url }}" alt="{{ employee.firstname }}'s profile photo">
									{% else %}
										{% if employee.gender == "Male" %}
											<img src="{% static 'assets/img/profiles/it_man.png' %}" alt="Default User Image">
										{% elif employee.gender == "Female" %}
											<img src="{% static 'assets/img/profiles/it_woman.png' %}" alt="Default User Image">
										{% else %}
											<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="Default User Image">
										{% endif %}
									{% endif %}
								</a>						
							</div>
						</div>
						<div class="profile-basic">
							<div class="row">
								<div class="col-md-5">
									<div class="profile-info-left">
										<h3 class="user-name m-t-0 mb-0">{{ employee.get_full_name }}</h3>
										<h6 class="text-muted">{{ employee.department }}</h6>
										<small class="text-muted">{{ employee.designation }}</small>
										<div class="staff-id">Employee ID : {{ employee.employeeid }}</div>
										<div class="small doj text-muted">Date of Join : {{ employee.joindate }}</div>
										<div class="small doj text-muted">Last Login at : {{ last_login }}</div>
										{% comment %} <div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send Message</a></div> {% endcomment %}
									</div>
								</div>
								<div class="col-md-7">
									<ul class="personal-info">										
										<li>
											<div class="title">Phone:</div>
											<div class="text"><a href="">{{ employee.phone }}</a></div>
										</li>
										<li>
											<div class="title">Email:</div>
											<div class="text"><a href="">{{ employee.email }}</a></div>
										</li>
										<li>
											<div class="title">Employee Id:</div>
											<div class="text">{{ employee.employeeid }}</div>
										</li>
										<li>
											<div class="title">Address:</div>
											<div class="text">{{ employee.address }}</div>
										</li>
										<li>
											<div class="title">User Name:</div>
											<div class="text">{{ employee.username }}</div>
										</li>
										<li>
											<div class="title">Password:</div>
											<div class="text">{{ employee.password }}</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						{% comment %} <div class="pro-edit"><a data-bs-target="#profile_info" data-bs-toggle="modal" class="edit-icon" href="{% url 'employee:edit_employee' pk=employee.pk %}"><i class="fa-solid fa-pencil"></i></a></div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}