{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Employee</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Employee</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" onclick="loadCreateEmployeeForm()" data-bs-toggle="modal" data-bs-target="#add_employee"><i class="fa-solid fa-plus"></i> Add Employee</a>
				<div class="view-icons">
					<a href="{% url 'employee:employees' %}" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
					<a href="{% url 'employee:employees_list' %}" class="list-view btn btn-link active"><i class="fa-solid fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<form action="" method="GET">
		<div class="row filter-row">
			
			<div class="col-sm-6 col-md-3">  
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating" name="empid">
					<label class="focus-label">Employee ID</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">  
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating" name="emp_name">
					<label class="focus-label">Employee Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3"> 
				<div class="input-block mb-3 form-focus ">
					<input type="text" class="form-control floating" name="emp_des">					
					<label class="focus-label">Designation</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="d-grid">
					<button class="btn btn-primary w-100" type="submit">Search</button>
				</div>  
			</div>
		
		</div>
	</form>
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table datatable">
					<thead>
						<tr>
							<th>Name</th>
							<th>Employee ID</th>
							<th>Email</th>
							<th>Mobile</th>
							<th class="text-nowrap">Join Date</th>
							<th>Role</th>
							<th class="text-end no-sort">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for employee in employees %}
						<tr>
							<td>
								<h2 class="table-avatar">
									<a href="{% url 'employee:employee' pk=employee.pk %}" class="avatar">
										{% if employee.photo %}
											<img src="{{ employee.photo.url }}" alt="{{ employee.firstname }}'s profile photo">
										{% else %}
											{% if employee.gender == "Male" %}
												<img src="{% static 'assets/img/profiles/it_man.png' %}" alt="Default User Image">
											{% elif employee.gender == "Female" %}
												<img src="{% static 'assets/img/profiles/it_woman.png' %}" alt="Default User Image">
											{% else %}
												<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="Default User Image">
											{% endif %}
										{% endif %}
									</a>
									<a href="{% url 'employee:employee' pk=employee.pk %}">{{ employee.get_full_name }} <span>{{ employee.designation }}</span></a>
								</h2>
							</td>
							<td>{{ employee.employeeid }}</td>
							<td>{{ employee.email }}</td>
							<td>{{ employee.phone }}</td>
							<td>{{ employee.joindate }}</td>
							<td>{{ employee.designation }}</td>							
							<td class="text-end">
								<div class="dropdown dropdown-action">
									<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_employee_{{ employee.id }}"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_employee_{{ employee.id }}"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
									</div>
								</div>
							</td>
						</tr>
						<!-- Edit Employee Modal -->
						<div id="edit_employee_{{ employee.id }}" class="modal custom-modal fade" role="dialog">
							<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit Employee</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="update_form_{{ employee.id }}" method="POST" action="{% url 'employee:edit_employee' pk=employee.id %}" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="row">
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">First Name <span class="text-danger">*</span></label>
														<input class="form-control" type="text" name="firstname" value="{{employee.firstname}}">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Last Name</label>
														<input class="form-control" type="text" name="lastname" value="{{employee.lastname}}">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Username <span class="text-danger">*</span></label>
														<input class="form-control" type="text" name="username" value="{{employee.username}}">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Email <span class="text-danger">*</span></label>
														<input class="form-control" type="email" name="email" value="{{employee.email}}">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Gender</label>
														<select class="form-control" name="gender">
															{% for choice in gender_choices %}
																<option {% if employee.gender == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Password</label>
														<input class="form-control" type="password" name="password" value="{{employee.password}}">
													</div>
												</div>
												{% comment %} <div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Confirm Password</label>
														<input class="form-control" type="password" name="name" value="{{employee.name}}">
													</div>
												</div> {% endcomment %}
												<div class="col-sm-6">  
													<div class="input-block mb-3">
														<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
														<input type="text" readonly class="form-control floating" name="employeeid" value="{{employee.employeeid}}">
													</div>
												</div>
												<div class="col-sm-6">  
													<div class="input-block mb-3">
														<label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
														<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="joindate" value="{{employee.joindate}}"></div>
													</div>
												</div>
												
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Phone </label>
														<input class="form-control" type="text" name="phone" value="{{employee.phone}}">
													</div>
												</div>
												{% comment %} <div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Company</label>
														<select class="form-control" name="client_company">
															{% for client in clients %}
																<option value="{{ client.id }}" {% if client.id == employee.client_company.id %} selected {% endif %}>{{ client.company_name }}</option>
															{% endfor %}
														</select>
													</div>
												</div> {% endcomment %}
												<div class="col-md-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Department <span class="text-danger">*</span></label>
														<select class="form-control" name="department">
															{% for department in departments %}
																<option value="{{ department.id }}" {% if department.id == employee.department.id %} selected {% endif %}>{{ department.name }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Designation <span class="text-danger">*</span></label>
														<select class="form-control" name="designation">
															{% for designation in designations %}
																<option value="{{ designation.id }}" {% if designation.id == employee.designation.id %} selected {% endif %}>{{ designation.name }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</div>
											<div class="submit-section">
												<button class="btn btn-primary submit-btn" onclick="submitUpdateForm(event, '{{employee.id}}')">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /Edit Employee Modal -->

						<!-- Delete Employee Modal -->
						<div class="modal custom-modal fade" id="delete_employee_{{ employee.id }}" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Delete Employee</h3>
											<p>Are you sure want to delete?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="{% url 'employee:delete_employee' pk=employee.id %}" data-id="{{ employee.id }}" class="remove btn btn-primary continue-btn">Delete</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Delete Employee Modal -->
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Employee</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="create_form" method="POST" action="{% url 'employee:create_employee' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">First Name <span class="text-danger">*</span></label>
								{{ form.firstname }}
								{% if form.firstname.errors %}
								<span class="error">{{ form.firstname.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Last Name<span class="text-danger">*</span></label>
								{{ form.lastname }}
								{% if form.lastname.errors %}
								<span class="error">{{ form.lastname.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Email <span class="text-danger">*</span></label>
								{{ form.email }}
								{% if form.email.errors %}
								<span class="error">{{ form.email.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Gender </label>
								{{ form.gender }}
								{% if form.gender.errors %}
								<span class="error">{{ form.gender.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Username <span class="text-danger">*</span></label>
								{{ form.username }}
								{% if form.username.errors %}
								<span class="error">{{ form.username.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Password<span class="text-danger">*</span></label>
								{{ form.password }}
								{% if form.password.errors %}
								<span class="error">{{ form.password.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Phone<span class="text-danger">*</span></label>
								{{ form.phone }}
								{% if form.phone.errors %}
								<span class="error">{{ form.phone.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-6">
								<label class="col-form-label">Photo<span class="text-danger">*</span></label>
								{{ form.photo }}
								{% if form.photo.errors %}
								<span class="error">{{ form.photo.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">  
							<div class="input-block mb-3">
								<label class="col-form-label">Employee ID </label>
								{{ form.employeeid }}
								{% if form.employeeid.errors %}
								<span class="error">{{ form.employeeid.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">  
							<div class="input-block mb-3">
								<label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
								{{ form.joindate }}
								{% if form.joindate.errors %}
								<span class="error">{{ form.joindate.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Address <span class="text-danger">*</span></label>
								{{ form.address }}
								{% if form.address.errors %}
								<span class="error">{{ form.address.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						{% comment %} <div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Company<span class="text-danger">*</span></label>
								{{ form.client_company }}
								{% if form.client_company.errors %}
								<span class="error">{{ form.client_company.errors.0 }}</span>
								{% endif %}
							</div>
						</div> {% endcomment %}
						<div class="col-md-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Department <span class="text-danger">*</span></label>
								{{ form.department }}
								{% if form.department.errors %}
								<span class="error">{{ form.department.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Designation <span class="text-danger">*</span></label>
								{{ form.designation }}
								{% if form.designation.errors %}
								<span class="error">{{ form.designation.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
					</div>					
					<div class="submit-section">
						<button class="btn btn-primary submit-btn" onclick="submitCreateForm(event)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /Add Employee Modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Add JavaScript code to handle form submission and show SweetAlert messages -->
<!-- jQuery -->
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>
		
<script>
	
	$(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD', // Date-only format
            // Additional configurations to ensure time is not included
            ignoreReadonly: true,
            allowInputToggle: true
        });
    });
		
	function loadCreateEmployeeForm() {
		fetch("{% url 'employee:create_employee' %}")
        .then(response => response.text())
        .then(data => {            
            // Create a temporary element to hold the form HTML
            var tempElement = document.createElement('div');
            tempElement.innerHTML = data;

            // Find the form element in the temporary element
            var formElement = tempElement.querySelector('#create_form');

            // Append the form to the modal body
            var modalBody = document.querySelector('#add_employee .modal-body');
            modalBody.innerHTML = '';
            modalBody.appendChild(formElement);

            // Show the modal
            $('#add_employee').modal('show');
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
	
	function submitCreateForm(event) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('create_form');
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}

	function showSweetAlert(message, status, redirectUrl) {

	if (status === 'true') {
		Swal.fire({
		icon: 'success',
		title: 'Success!',
		text: message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click

		didClose: () => {
			if (redirectUrl) {
			// Combine the redirect URL with the current protocol and host to get the full URL
			var fullRedirectUrl = window.location.origin + redirectUrl;
			window.location.href = fullRedirectUrl;
			}
		}
		});
	} else if (status === 'form_error') {
		Swal.fire({
		icon: 'error',
		title: 'Form Validation Error!',
		html: message,  // Display form errors as HTML
		showConfirmButton: true,
		allowOutsideClick: false,
		});
	} else if (status === 'false') {
		Swal.fire({
		icon: 'error',
		title: 'Form Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	} else {
		Swal.fire({
		icon: 'error',
		title: 'Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	}
	}

	function submitUpdateForm(event,employeeId) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('update_form_' + employeeId);
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}
	// Function to handle delete action
	function handleDelete(pk) {
		Swal.fire({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this Employee!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		})
		.then((result) => {
			if (result.isConfirmed) {
				// If user confirms, send Fetch API request to delete
				fetch('/app/employee/delete-employee/' + pk + '/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}'
					},
				})
				.then(response => response.json())
				.then(data => {
					// Handle success response
					if (data.status === "true") {
						showDeleteSweetAlert(data.message, data.status, data.redirect_url);
					} else {
						Swal.fire("Error", "An error occurred while deleting.", "error");
					}
				})
				.catch(() => {
					// Handle error
					Swal.fire("Error", "An error occurred while processing the request.", "error");
				});
			} else {
				Swal.fire("Employee is safe!");
			}
		});
	}
	function showDeleteSweetAlert(message, status, redirectUrl) {
		
		if (status === 'true') {
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
		
			didClose: () => {
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else {
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
		}
	
		// Attach click event to delete button
		document.querySelectorAll('.remove').forEach(function(el) {
			el.addEventListener('click', function(e) {
				e.preventDefault();
				var pk = this.getAttribute('data-id');
				handleDelete(pk);
			});
		});

</script>

{% endblock %}