{%load static%}
<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <title>Jobs - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'hrms/assets/img/favicon.png'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/bootstrap.min.css'%}">

		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/plugins/fontawesome/css/fontawesome.min.css'%}">
    	<link rel="stylesheet" href="{%static 'hrms/assets/plugins/fontawesome/css/all.min.css'%}">

		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/line-awesome.min.css'%}">
		<link rel="stylesheet" href="{%static 'hrms/assets/css/material.css'%}">
		
		<!-- Datatable CSS -->
		<link rel="stylesheet" href="{%static 'hrms/assets/css/dataTables.bootstrap4.min.css'%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{%static 'hrms/assets/css/select2.min.css'%}">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{%static 'hrms/assets/css/bootstrap-datetimepicker.min.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'hrms/assets/css/style.css'%}">
		
		 
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			
			<!-- Page Wrapper -->
            <div class="page-wrapper job-wrapper">
			
				<!-- Page Content -->
                <div class="content container">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Jobs</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Jobs</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Web Devloper</h3>
										<h4 class="job-department">Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Full Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Android Devloper</h3>
										<h4 class="job-department">App Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Part Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Web Devloper</h3>
										<h4 class="job-department">Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Full Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Android Devloper</h3>
										<h4 class="job-department">App Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Part Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Web Devloper</h3>
										<h4 class="job-department">Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Full Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Android Devloper</h3>
										<h4 class="job-department">App Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Part Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Web Devloper</h3>
										<h4 class="job-department">Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Full Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a class="job-list" href="job-view.html">
								<div class="job-list-det">
									<div class="job-list-desc">
										<h3 class="job-list-title">Android Devloper</h3>
										<h4 class="job-department">App Development</h4>
									</div>
									<div class="job-type-info">
										<span class="job-types">Part Time</span>
									</div>
								</div>
								<div class="job-list-footer">
									<ul>
										<li><i class="fa-solid fa-signs-post"></i> California</li>
										<li><i class="fa-regular fa-money-bill-1"></i> $35000-$38000</li>
										<li><i class="fa-regular fa-clock"></i> 2 days ago</li>
									</ul>
								</div>
							</a>
						</div>
					</div>
                </div>

            </div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->


		<!-- jQuery -->
       <script src="{%static 'hrms/assets/js/jquery-3.7.1.min.js'%}"></script>

		<!-- Bootstrap Core JS -->
        <script src="{%static 'hrms/assets/js/bootstrap.bundle.min.js'%}"></script>

		<!-- Slimscroll JS -->
		<script src="{%static 'hrms/assets/js/jquery.slimscroll.min.js'%}"></script>
		
		<!-- Select2 JS -->
		<script src="{%static 'hrms/assets/js/select2.min.js'%}"></script>
		
		<!-- Datatable JS -->
		<script src="{%static 'hrms/assets/js/jquery.dataTables.min.js'%}"></script>
		<script src="{%static 'hrms/assets/js/dataTables.bootstrap4.min.js'%}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{%static 'hrms/assets/js/moment.min.js'%}"></script>
		<script src="{%static 'hrms/assets/js/bootstrap-datetimepicker.min.js'%}"></script>

		<!-- Custom JS -->
		<script src="{%static 'hrms/assets/js/app.js'%}"></script>
		
    </body>
</html>