{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% load i18n %}

{% load main_template_tags %}

{% block content %}
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-10">
				<h3 class="page-title">Attendance</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Attendance</li>
				</ul>				
			</div>
			<div class="col-sm-2">
				<a href="{% url 'employee:create_attendance_register' %}" class="btn btn-primary"> Take Attendance </a> 
			</div>			
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<form action="" method="GET">
		<div class="row filter-row">
			<div class="col-sm-6 col-md-9">  
				<div class="input-block mb-3 form-focus">
					<input type="text" class="form-control floating" name="employee_name">
					<label class="focus-label">Employee Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="d-grid">
					<button class="btn btn-primary w-100" type="submit">Search</button>
				</div>  
			</div>   
		</div>
	</form>
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table table-nowrap mb-0">
					<thead>
						<tr>
							<th>Sl. No.</th>
							<th>Employee Name</th>
							{% for i in n %}
							<th>{{forloop.counter}}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for employee in employees %}
						<tr>
							<td>{{forloop.counter}}</td>  
							<td>
								<h2 class="table-avatar">
									<a href="profile.html">{{employee.get_full_name }}</a>
								</h2>
							</td>
							{% for i in nn %}
							{% for att in att_list %}
								{% if att.employee == employee and att.date == i %}
									<td>
									{% if att.attendance == True %}
										<i class="fa-solid fa-check text-success"></i>
									{% elif att.attendance == False %} 
										<i class="fa fa-close text-danger"></i>
									{% elif att.attendance == "FnHalf" %} 
										<div class="half-day">                                                    
											<span class="first-off"><i class="fa-solid fa-check text-success"></i></span>
											<span class="first-off"><i class="fa fa-close text-danger"></i></span> 
										</div>
									{% elif att.attendance == "AnHalf" %} 
										<div class="half-day">
											<span class="first-off"><i class="fa fa-close text-danger"></i></span> 
											<span class="first-off"><i class="fa-solid fa-check text-success"></i></span>
										</div>
									{% else %} 
										{% if att.attendance == 'blank' %}
											<p>-</p>
										{% else %}
											<p>{{ att.attendance }}</p>
										{% endif %}
									{% endif %}
									</td>
								{% endif %}
							{% endfor %}
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

{{form.media}}
{% endblock %}