{% extends "base/base_employee.html" %}
{%load static%}

{% block content %}

			
<!-- Page Content -->
<div class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="welcome-box">
				<div class="welcome-img">
					{% if employee.photo %}
						<img src="{{ employee.photo.url }}" alt="{{ employee.firstname }}'s profile photo">
					{% else %}
						<img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="Default User Image">
					{% endif %}
				</div>
				<div class="welcome-det">
					<h3>Welcome, {{ employee.get_full_name }}</h3>
					<p>{{ employee.company }}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<div class="dash-sidebar">
				<section>
					<h5 class="dash-title">Your Leave</h5>
					<div class="card">
						<div class="card-body">
							<div class="time-list">
								<div class="dash-stats-list">
									<h4>{{approved_leave}}</h4>
									<p>Leave Taken</p>
								</div>
								<div class="dash-stats-list">
									<h4>{{remaining_leave}}</h4>
									<p>Remaining</p>
								</div>
							</div>
							<div class="request-btn">
								<a class="btn btn-primary" href="{% url 'employee:leaves' %}">Apply Leave</a>
							</div>
						</div>
					</div>
				</section>				
			</div>
		</div>
		<div class="col-lg-4 col-md-4">
			<section>
				<h5 class="dash-title">Upcoming Holiday</h5>
				<div class="card">
					<div class="card-body text-center">
						{% comment %} <h4 class="holiday-title mb-0">Mon 20 May 2019 - Ramzan</h4> {% endcomment %}
						{% if upcoming_holidays %}
                            {% for holiday in upcoming_holidays %}
                                <h4 class="holiday-title mb-0">{{ holiday.date|date:"D d M Y" }} - {{ holiday.name }}</h4>
                            {% endfor %}
                        {% else %}
                            <p>No upcoming holidays</p>
                        {% endif %}
					</div>
				</div>
			</section>
		</div>
	</div>

</div>
<!-- /Page Content -->


{% endblock %}			