{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Projects</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Projects</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#create_project"><i class="fa-solid fa-plus"></i> Create Project</a>
				<div class="view-icons">
					<a href="#" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
					<a href="#" class="list-view btn btn-link"><i class="fa-solid fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<div class="row filter-row">
		<div class="col-sm-6 col-md-3">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Project Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3"> 
			<div class="input-block mb-3 form-focus select-focus">
				<select class="select floating"> 
					<option>Select Designation</option>
					<option>Web Developer</option>
					<option>Web Designer</option>
					<option>Android Developer</option>
					<option>Ios Developer</option>
				</select>
				<label class="focus-label">Designation</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">  
			<a href="#" class="btn btn-success w-100"> Search </a>  
		</div>     
	</div>
	<!-- Search Filter -->
	
	<div class="row">
		{% for project in projects %}
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3 d-flex">
            <div class="card w-100">
                <div class="card-body">
                    <div class="dropdown dropdown-action profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_project"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="project-title"><a href="#">{{ project.name }}</a></h4>
                    <small class="block text-ellipsis m-b-15">
                        <span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
                        <span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
                    </small>
                    <p class="text-muted">{{ project.description|truncatewords:15 }}</p>
                    <div class="pro-deadline m-b-15">
                        <div class="sub-title">
                            Deadline:
                        </div>
                        <div class="text-muted">
                            {{ project.end_date }}
                        </div>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Project Leader :</div>
                        <ul class="team-members">
                            <li>
                                <a href="#" data-bs-toggle="tooltip" title="{{ project.project_leader }}"><img src="{% static 'hrms/assets/img/profiles/avatar-16.jpg' %}" alt="User Image"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Team :</div>
                        <ul class="team-members">
                            {% for member in project.team.all %}
                            <li>
                                <a href="#" data-bs-toggle="tooltip" title="{{ member.get_full_name }}"><img src="{% if member.photo %}{{ member.photo.url }}{% else %}{% static 'hrms/assets/img/profiles/avatar-02.jpg' %}{% endif %}" alt="User Image"></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success w-40" role="progressbar" data-bs-toggle="tooltip" title="40%"></div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Edit Project Modal -->
		<div id="edit_project_{{ project.id }}" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Project</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Edit Project Form -->
						<form id="edit_form_{{ project.id }}" data-url="{% url 'taskboard:edit_project' pk=project.pk %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="input-block mb-3">
										<label class="col-form-label">Project Name</label>
										<input class="form-control" value="{{ project.name }}" type="text" name="name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-block mb-3">
										<label class="col-form-label">Start Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="start_date" value="{{ project.start_date }}">
										</div>
									</div>
								</div>
								<!-- Add other fields here like end_date, priority, project_leader, team, description, etc. -->
							</div>
							<!-- Save Button -->
							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Project Modal -->

		<!-- Delete Project Modal -->
		<div class="modal custom-modal fade" id="delete_project_{{ project.id }}" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Project</h3>
							<p>Are you sure you want to delete "{{ project.name }}"?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="#" class="btn btn-primary continue-btn" onclick="deleteProject('{{ project.id }}')">Delete</a>
								</div>
								<div class="col-6">
									<a href="#" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Project Modal -->
        {% endfor %}
	</div>
</div>
<!-- /Page Content -->

<!-- Create Project Modal -->
<div id="create_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createProjectForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Project Name</label>
                                <input name="name" class="form-control" type="text" placeholder="Enter project name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Start Date</label>
                                <div class="cal-icon">
                                    <input name="start_date" class="form-control datetimepicker" type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">End Date</label>
                                <div class="cal-icon">
                                    <input name="end_date" class="form-control datetimepicker" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Priority</label>
                                <select name="priority" class="select form-control">
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Project Leader</label>
                                <input name="project_leader" class="form-control" type="text" placeholder="Enter project leader">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Team</label>
                                <select name="team" class="select form-control" multiple>
                                    {% for employee in team_members %}
                                    <option value="{{ employee.id }}">{{ employee.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Description</label>
                        <textarea name="description" class="form-control" placeholder="Enter project description"></textarea>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Upload Files</label>
                        <input name="file" class="form-control" type="file">
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Create Project Modal -->
				
<script>
    $(document).ready(function () {
        $('#createProjectForm').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: 'POST',
                url: '{% url "create_project" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status == 'true' && response.redirect == 'true') {
                        // Redirect or show success message as needed
                        window.location.href = response.redirect_url;
                    } else {
                        // Handle error or display validation messages
                        console.log(response.message);
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('Error occurred while creating project. Please try again.');
                }
            });
        });
    });
	function deleteProject(project_id) {
        if (confirm('Are you sure you want to delete this project?')) {
            $.ajax({
                type: 'POST',
                url: '{% url "taskboard:delete_project" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'project_id': project_id
                },
                dataType: 'json',
                success: function(response) {
                    if (response.status === 'true') {
                        alert('Project deleted successfully.');
                        window.location.reload();
                    } else {
                        alert('Failed to delete project.');
                    }
                },
                error: function() {
                    alert('Error occurred while deleting project.');
                }
            });
        }
    }
</script>

{% endblock %}           