{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Projects</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
					<li class="breadcrumb-item active">Projects</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#create_project"><i class="fa-solid fa-plus"></i> Create Project</a>
				<div class="view-icons">
					<a href="{% url 'taskboard:projects' %}" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
					<a href="{% url 'taskboard:projects_list' %}" class="list-view btn btn-link active"><i class="fa-solid fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<div class="row filter-row">
		<div class="col-sm-6 col-md-3">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Project Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating">
				<label class="focus-label">Employee Name</label>
			</div>
		</div>
		<div class="col-sm-6 col-md-3"> 
            <div class="input-block mb-3 form-focus ">
                <input type="text" class="form-control floating" name="emp_des">					
                <label class="focus-label">Designation</label>
            </div>
        </div>
		<div class="col-sm-6 col-md-3">  
			<a href="#" class="btn btn-success w-100"> Search </a>  
		</div>     
	</div>
	<!-- /Search Filter -->
	
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped custom-table datatable">
					<thead>
						<tr>
							<th>Project</th>
							{% comment %} <th>Project Id</th> {% endcomment %}
							<th>Leader</th>
							<th>Team</th>
							<th>Deadline</th>
							<th>Priority</th>
							<th>Status</th>
							<th class="text-end">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
						<tr>
							<td>
								<a href="project-view.html">{{ project.name }}</a>
							</td>
							{% comment %} <td>PROJECT-ID</td> {% endcomment %}
							<td>
								<ul class="team-members">
									<li>
										<a href="#" data-bs-toggle="tooltip" title="{{ project.project_leader }}"><img src="{% if project.project_leader.photo %}{{ project.project_leader.photo.url }}{% else %}{% if project.project_leader.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif project.project_leader.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}" alt="User Image"></a>
									</li>
								</ul>
							</td>
							<td>
								<ul class="team-members text-nowrap">
									{% for member in project.team.all %}
									<li>
										<a href="#" data-bs-toggle="tooltip" title="{{ member.get_full_name }}"><img src="{% if member.photo %}{{ member.photo.url }}{% else %}{% if member.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif member.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}" alt="User Image"></a>
									</li>
									{% endfor %}
									{% comment %} <li class="dropdown avatar-dropdown">
										<a href="#" class="all-users dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">+15</a>
										<div class="dropdown-menu dropdown-menu-right">
											<div class="avatar-group">
												{% for additional_member in additional_members %}
												<a class="avatar avatar-xs" href="#" data-bs-toggle="tooltip" title="{{ additional_member.get_full_name }}">
													<img src="{% if additional_member.photo %}
																{{ additional_member.photo.url }}
															{% else %}
																{% static 'assets/img/profiles/avatar-02.jpg' %}
															{% endif %}" alt="User Image">
												</a>
												{% endfor %}
											</div>
											<div class="avatar-pagination">
												<ul class="pagination">
													<li class="page-item">
														<a class="page-link" href="#" aria-label="Previous">
															<span aria-hidden="true">«</span>
															<span class="visually-hidden">Previous</span>
														</a>
													</li>
													{% for page_num in pages %}
													<li class="page-item"><a class="page-link" href="#">{{ page_num }}</a></li>
													{% endfor %}
													<li class="page-item">
														<a class="page-link" href="#" aria-label="Next">
															<span aria-hidden="true">»</span>
															<span class="visually-hidden">Next</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li> {% endcomment %}
								</ul>
							</td>
							<td>{{ project.end_date }}</td>
							<td>
								<div class="dropdown action-label">
									<a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-circle-dot text-danger"></i> {{ project.priority }} </a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> High</a>
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-warning"></i> Medium</a>
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Low</a>
									</div>
								</div>
							</td>
							<td>
								<div class="dropdown action-label">
									<a href="" class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-circle-dot text-success"></i> Active </a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
										<a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
									</div>
								</div>
							</td>
							<td class="text-end">
								<div class="dropdown dropdown-action">
									<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_project_{{ project.id }}"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project_{{ project.id }}"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_project"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
										<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
									</div>
								</div>
							</td>
						</tr>
						<!-- Edit Project Modal -->
						<div id="edit_project_{{ project.id }}" class="modal custom-modal fade" tabindex="-1" role="dialog">
							<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Edit Project</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<!-- Edit Project Form -->
										<form id="edit_form_{{ project.id }}" method="POST" action="{% url 'taskboard:edit_project' pk=project.id %}" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="row">
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Project Name</label>
														<input class="form-control" value="{{ project.name }}" type="text" name="name">
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Priority</label>
														<select class="select" name="priority">
															<option value="High" {% if project.priority == 'High' %}selected{% endif %}>High</option>
															<option value="Medium" {% if project.priority == 'Medium' %}selected{% endif %}>Medium</option>
															<option value="Low" {% if project.priority == 'Low' %}selected{% endif %}>Low</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Start Date</label>
														<div class="cal-icon">
															<input class="form-control datetimepicker" type="text" name="start_date" value="{{ project.start_date|date:'Y-m-d' }}">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">End Date</label>
														<div class="cal-icon">
															<input class="form-control datetimepicker" type="text" name="end_date" value="{{ project.end_date|date:'Y-m-d' }}">
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Add Project Leader</label>
														<select name="project_leader" class="form-control">
															<option value="" data-photo-url="">Select a Project Leader</option>
															{% for employee in project_leader_queryset %}
																<option value="{{ employee.id }}"
																		data-photo-url="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% if employee.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif employee.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}"
																		{% if employee.id == project.project_leader_id %}selected{% endif %}>
																	{{ employee.get_full_name }}
																</option>
															{% endfor %}
														</select>
														
														
														{% if form.project_leader.errors %}
															<span class="error">{{ form.project_leader.errors.0 }}</span>
														{% endif %}
													</div>									
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Team Leader</label>
														<div class="project-members">
															<a href="#" data-bs-toggle="tooltip" title="Project Leader" class="avatar">
																<img id="team-leader-photo-{{ project.id }}" src="{% if project.project_leader.photo %}{{ project.project_leader.photo.url }}{% else %}{% static 'assets/img/profiles/avatar-16.jpg' %}{% endif %}" alt="User Image">
															</a>
														</div>
													</div>
												</div>
											</div>   
											<div class="row">	
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Team Members<br>(Use shift keys for multiple selection)</label>
														<select name="team" class="form-control" multiple="multiple">
															{% for employee in project_leader_queryset %}
															<option value="{{ employee.id }}"
																	data-photo-url="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% if employee.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif employee.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}"
																	{% if employee in project.team.all %}selected{% endif %}>
																{{ employee.get_full_name }}
															</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="input-block mb-3">
														<label class="col-form-label">Team Members</label><br>
														<div id="team-members-{{ project.id }}" class="project-members">
															{% for member in project.team.all %}
																{% if not member.is_deleted %}
																	<a href="#" data-bs-toggle="tooltip" title="{{ member.get_full_name }}" class="avatar">
																		<img src="{% if member.photo %}
																					{{ member.photo.url }}
																				{% else %}
																					{% if member.gender == 'Male' %}
																						{% static 'assets/img/profiles/it_man.png' %}
																					{% elif member.gender == 'Female' %}
																						{% static 'assets/img/profiles/it_woman.png' %}
																					{% else %}
																						{% static 'assets/img/profiles/avatar-02.jpg' %}
																					{% endif %}
																				{% endif %}" alt="User Image">
																	</a>
																{% endif %}
															{% endfor %}
														</div>
													</div>
												</div>
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">Description</label>
												<textarea rows="4" class="form-control" name="description">{{ project.description }}</textarea>
											</div>
											<div class="input-block mb-3">
												<label class="col-form-label">Upload Files</label>
												<input class="form-control" type="file" name="file">
											</div>
											<!-- Save Button -->
											<div class="submit-section">
												<button class="btn btn-primary submit-btn" onclick="submitUpdateForm(event, '{{project.id}}')">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- /Edit Project Modal -->

						<!-- Delete Project Modal -->
						<div class="modal custom-modal fade" id="delete_project_{{ project.id }}" role="dialog">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										<div class="form-header">
											<h3>Delete Project</h3>
											<p>Are you sure you want to delete "{{ project.name }}"?</p>
										</div>
										<div class="modal-btn delete-action">
											<div class="row">
												<div class="col-6">
													<a href="{% url 'taskboard:delete_project' pk=project.id %}" data-id="{{ project.id }}" class="remove btn btn-primary continue-btn">Delete</a>
												</div>
												<div class="col-6">
													<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Delete Project Modal -->
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /Page Content -->

<!-- Create Project Modal -->
<div id="create_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create_form" method="POST" action="{% url 'taskboard:create_project' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Project Name</label>
                                {{ form.name }}
								{% if form.name.errors %}
								<span class="error">{{ form.name.errors.0 }}</span>
								{% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
								<label class="col-form-label">Start Date</label>
								{{ form.start_date }}
								{% if form.start_date.errors %}
								<span class="error">{{ form.start_date.errors.0 }}</span>
								{% endif %}                                
                                {% comment %} <div class="cal-icon">
                                    <input name="start_date" class="form-control datetimepicker" type="date">
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
								<label class="col-form-label">End Date</label>
								{{ form.end_date }}
								{% if form.end_date.errors %}
								<span class="error">{{ form.end_date.errors.0 }}</span>
								{% endif %}                                
                                {% comment %} <div class="cal-icon">
                                    <input name="end_date" class="form-control datetimepicker" type="date">
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
								<label class="col-form-label">Priority</label>
								{{ form.priority }}
								{% if form.priority.errors %}
								<span class="error">{{ form.priority.errors.0 }}</span>
								{% endif %}                                
                                {% comment %} <select class="select form-control">
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Add Project Leader</label>
                                <select name="project_leader" class="form-control">
									<option value="" data-photo-url="">Select a Project Leader</option>
									{% for employee in form.fields.project_leader.queryset %}
									<option value="{{ employee.id }}"
											data-photo-url="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% if employee.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif employee.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}">
										{{ employee.get_full_name }}
									</option>
									{% endfor %}
								</select>
                                {% if form.project_leader.errors %}
                                    <span class="error">{{ form.project_leader.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>
						<div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Team Leader</label>
                                <div class="project-members">
                                    <a href="#" data-bs-toggle="tooltip" title="Project Leader" class="avatar">
                                        <img id="team-leader-photo" src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="User Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>   										
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Add Team<br >(Use shift keys for multiple selection)</label>
								<select name="team" class="form-control" multiple="multiple">
									<option value="" data-photo-url="">Select Team Members</option>
									{% for employee in form.fields.team.queryset %}
									<option value="{{ employee.id }}"
											data-photo-url="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% if employee.gender == 'Male' %}{% static 'assets/img/profiles/it_man.png' %}{% elif employee.gender == 'Female' %}{% static 'assets/img/profiles/it_woman.png' %}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}{% endif %}">
										{{ employee.get_full_name }}
									</option>
									{% endfor %}
								</select>
								{% if form.team.errors %}
								<span class="error">{{ form.team.errors.0 }}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Team Members</label>
								<div id="team-members" class="project-members">
									<!-- Team members' avatars will be updated here dynamically -->
								</div>
							</div>
						</div>						
					</div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Description</label>
						{{ form.description }}
						{% if form.description.errors %}
						<span class="error">{{ form.description.errors.0 }}</span>
						{% endif %}
                        {% comment %} <textarea name="description" class="form-control" placeholder="Enter project description"></textarea> {% endcomment %}
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Upload Files</label>
						{{ form.file }}
						{% if form.file.errors %}
						<span class="error">{{ form.file.errors.0 }}</span>
						{% endif %}
                        {% comment %} <input name="file" class="form-control" type="file"> {% endcomment %}
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn" onclick="submitCreateForm(event)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Create Project Modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Add JavaScript code to handle form submission and show SweetAlert messages -->
<!-- jQuery -->
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>
		
<script>	
	$(document).ready(function(){
		// Initialize the "Create Project" modal event listeners
		$('#create_project').on('shown.bs.modal', function () {
			// Update team leader photo when the project leader is changed
			$('select[name="project_leader"]').on('change', function () {
				const selectedOption = $(this).find('option:selected');
				const photoUrl = selectedOption.data('photo-url');
				const teamLeaderPhoto = $('#team-leader-photo');
	
				if (photoUrl && teamLeaderPhoto.length) {
					teamLeaderPhoto.attr('src', photoUrl);
				}
			});
	
			// Update team member photos when team members are changed
			$('select[name="team"]').on('change', function () {
				const selectedOptions = $(this).find('option:selected');
				const teamMembersContainer = $('#team-members');
				teamMembersContainer.empty(); // Clear existing members
	
				selectedOptions.each(function () {
					const photoUrl = $(this).data('photo-url');
					const fullName = $(this).text();
	
					if (photoUrl) {
						const memberAvatar = `
							<a href="#" data-bs-toggle="tooltip" title="${fullName}" class="avatar">
								<img src="${photoUrl}" alt="User Image">
							</a>`;
						teamMembersContainer.append(memberAvatar);
					}
				});
			});
		});
        // Bind the shown.bs.modal event to each edit modal
		$('[id^=edit_project_]').each(function () {
			const modalId = $(this).attr('id');
			const projectId = modalId.split('_')[2]; // Extract project ID from modal ID

			$('#' + modalId).on('shown.bs.modal', function () {
				console.log(`#${modalId} is shown`);

				// Update team leader photo when the project leader is changed
				$(this).find('select[name="project_leader"]').on('change', function () {
					const selectedOption = $(this).find('option:selected');
					const photoUrl = selectedOption.data('photo-url');
					const teamLeaderPhoto = $('#team-leader-photo-' + projectId);

					if (photoUrl && teamLeaderPhoto.length) {
						teamLeaderPhoto.attr('src', photoUrl);
					}
				});

				// Update team member photos when team members are changed
				$(this).find('select[name="team"]').on('change', function () {
					console.log("team select changed");
					const selectedOptions = $(this).find('option:selected');
					const teamMembersContainer = $('#team-members-' + projectId);
					console.log("selectedOptions ", selectedOptions);
					
					// Clear current team members photos
					teamMembersContainer.empty();
		
					// Append selected team member photos
					selectedOptions.each(function () {
						const photoUrl = $(this).data('photo-url');
						const fullName = $(this).text();
						console.log("photoUrl", photoUrl);
						console.log("fullName", fullName);
		
						if (photoUrl) {
							const imgElement = `<a href="#" data-bs-toggle="tooltip" title="${fullName}" class="avatar">
													<img src="${photoUrl}" alt="User Image">
												</a>`;
							teamMembersContainer.append(imgElement);
						}
					});
				});
			});
		});
        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD', // Date-only format
            // Additional configurations to ensure time is not included
            ignoreReadonly: true,
            allowInputToggle: true
        });
		// Initialize Select2 for the multi-select team field
		{% comment %} $('select[name="team"]').select2({
			placeholder: "Select team members",
			width: '100%',
			multiple: true
		}); {% endcomment %}
		
    });
	
		
	function loadCreateProjectForm() {
		fetch("{% url 'taskboard:create_project' %}")
        .then(response => response.text())
        .then(data => {    
            // Create a temporary element to hold the form HTML
            var tempElement = document.createElement('div');
            tempElement.innerHTML = data;

            // Find the form element in the temporary element
            var formElement = tempElement.querySelector('#create_form');

            // Append the form to the modal body
            var modalBody = document.querySelector('#create_project .modal-body');
            modalBody.innerHTML = '';
            modalBody.appendChild(formElement);

            // Show the modal
            $('#create_project').modal('show');			
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
	
	function submitCreateForm(event) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('create_form');
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}

	function showSweetAlert(message, status, redirectUrl) {
	if (status === 'true') {
		Swal.fire({
		icon: 'success',
		title: 'Success!',
		text: message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click

		didClose: () => {
			if (redirectUrl) {
			// Combine the redirect URL with the current protocol and host to get the full URL
			var fullRedirectUrl = window.location.origin + redirectUrl;
			window.location.href = fullRedirectUrl;
			}
		}
		});
	} else if (status === 'form_error') {
		Swal.fire({
		icon: 'error',
		title: 'Form Validation Error!',
		html: message,  // Display form errors as HTML
		showConfirmButton: true,
		allowOutsideClick: false,
		});
	} else if (status === 'false') {
		Swal.fire({
		icon: 'error',
		title: 'Form Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	} else {
		Swal.fire({
		icon: 'error',
		title: 'Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	}
	}

	function submitUpdateForm(event,projectId) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('update_form_' + projectId);
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}

	// Function to handle delete action
	function handleDelete(pk) {
		Swal.fire({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this project!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		})
		.then((result) => {
			if (result.isConfirmed) {
				// If user confirms, send Fetch API request to delete
				fetch('/app/task-board/delete-project/' + pk + '/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}'
					},
				})
				.then(response => response.json())
				.then(data => {
					// Handle success response
					if (data.status === "true") {
						showDeleteSweetAlert(data.message, data.status, data.redirect_url);
					} else {
						Swal.fire("Error", "An error occurred while deleting.", "error");
					}
				})
				.catch(() => {
					// Handle error
					Swal.fire("Error", "An error occurred while processing the request.", "error");
				});
			} else {
				Swal.fire("Project is safe!");
			}
		});
	}
	function showDeleteSweetAlert(message, status, redirectUrl) {
		
		if (status === 'true') {
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
		
			didClose: () => {
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else {
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
		}		
	
		// Attach click event to delete button
		document.querySelectorAll('.remove').forEach(function(el) {
			el.addEventListener('click', function(e) {
				e.preventDefault();
				var pk = this.getAttribute('data-id');
				handleDelete(pk);
			});
		});

</script>


{% endblock %}           