{% extends "base/base_hrms_admin.html" %}
{% load static %}

{% block content %}
			
<!-- Page Content -->
<div class="content container-fluid">

	<!-- Page Header -->
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h3 class="page-title">Projects</h3>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main:hrms_dashboard' %}">Dashboard</a></li>
					<li class="breadcrumb-item active">Projects</li>
				</ul>
			</div>
			<div class="col-auto float-end ms-auto">
				<a href="#" class="btn add-btn" onclick="loadCreateProjectForm()" data-bs-toggle="modal" data-bs-target="#create_project"><i class="fa-solid fa-plus"></i> Create Project</a>
				<div class="view-icons">
					<a href="#" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
					<a href="#" class="list-view btn btn-link"><i class="fa-solid fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Header -->
	
	<!-- Search Filter -->
	<div class="row filter-row">
		<div class="col-sm-6 col-md-3">  
			<div class="input-block mb-3 form-focus">
				<input type="text" class="form-control floating" name="project_name">
				<label class="focus-label">Project Name</label>
			</div>
		</div>
        <div class="col-sm-6 col-md-3">  
            <div class="input-block mb-3 form-focus">
                <input type="text" class="form-control floating" name="emp_name">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3"> 
            <div class="input-block mb-3 form-focus ">
                <input type="text" class="form-control floating" name="emp_des">					
                <label class="focus-label">Designation</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="d-grid">
                <button class="btn btn-primary w-100" type="submit">Search</button>
            </div>  
        </div>   
	</div>
	<!-- Search Filter -->
	
	<div class="row">
		{% for project in projects %}
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3 d-flex">
            <div class="card w-100">
                <div class="card-body">
                    <div class="dropdown dropdown-action profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_project"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_project"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="project-title"><a href="#">{{ project.name }}</a></h4>
                    <small class="block text-ellipsis m-b-15">
                        <span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
                        <span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
                    </small>
                    <p class="text-muted">{{ project.description|truncatewords:15 }}</p>
                    <div class="pro-deadline m-b-15">
                        <div class="sub-title">
                            Deadline:
                        </div>
                        <div class="text-muted">
                            {{ project.end_date }}
                        </div>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Project Leader :</div>
                        <ul class="team-members">
                            <li>
                                <a href="#" data-bs-toggle="tooltip" title="{{ project.project_leader }}"><img src="{% static 'hrms/assets/img/profiles/avatar-16.jpg' %}" alt="User Image"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="project-members m-b-15">
                        <div>Team :</div>
                        <ul class="team-members">
                            {% for member in project.team.all %}
                            <li>
                                <a href="#" data-bs-toggle="tooltip" title="{{ member.get_full_name }}"><img src="{% if member.photo %}{{ member.photo.url }}{% else %}{% static 'hrms/assets/img/profiles/avatar-02.jpg' %}{% endif %}" alt="User Image"></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success w-40" role="progressbar" data-bs-toggle="tooltip" title="40%"></div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Edit Project Modal -->
		<div id="edit_project_{{ project.id }}" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Project</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Edit Project Form -->
						<form id="edit_form_{{ project.id }}" data-url="{% url 'taskboard:edit_project' pk=project.pk %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="input-block mb-3">
										<label class="col-form-label">Project Name</label>
										<input class="form-control" value="{{ project.name }}" type="text" name="name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-block mb-3">
										<label class="col-form-label">Start Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="start_date" value="{{ project.start_date }}">
										</div>
									</div>
								</div>
								<!-- Add other fields here like end_date, priority, project_leader, team, description, etc. -->
							</div>
							<!-- Save Button -->
							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn" onclick="submitUpdateForm(event, '{{project.id}}')">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Project Modal -->

		<!-- Delete Project Modal -->
		<div class="modal custom-modal fade" id="delete_project_{{ project.id }}" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Project</h3>
							<p>Are you sure you want to delete "{{ project.name }}"?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="#" class="btn btn-primary continue-btn" onclick="deleteProject('{{ project.id }}')">Delete</a>
								</div>
								<div class="col-6">
									<a href="#" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Project Modal -->
        {% endfor %}
	</div>
</div>
<!-- /Page Content -->

<!-- Create Project Modal -->
<div id="create_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createProjectForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Project Name</label>
                                <input name="name" class="form-control" type="text" placeholder="Enter project name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Start Date</label>
                                <div class="cal-icon">
                                    <input name="start_date" class="form-control datetimepicker" type="date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">End Date</label>
                                <div class="cal-icon">
                                    <input name="end_date" class="form-control datetimepicker" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-block mb-3">
                                <label class="col-form-label">Priority</label>
                                <select class="select form-control">
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Add Project Leader</label>
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Team Leader</label>
								<div class="project-members">
									<a href="#" data-bs-toggle="tooltip" title="Jeffery Lalor" class="avatar">
										<img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="User Image">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Add Team</label>
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-block mb-3">
								<label class="col-form-label">Team Members</label>
								<div class="project-members">
									<a href="#" data-bs-toggle="tooltip" title="John Doe" class="avatar">
										<img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="User Image">
									</a>
									<a href="#" data-bs-toggle="tooltip" title="Richard Miles" class="avatar">
										<img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="User Image">
									</a>
									<a href="#" data-bs-toggle="tooltip" title="John Smith" class="avatar">
										<img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="User Image">
									</a>
									<a href="#" data-bs-toggle="tooltip" title="Mike Litorus" class="avatar">
										<img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" alt="User Image">
									</a>
									<span class="all-team">+2</span>
								</div>
							</div>
						</div>
					</div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Description</label>
                        <textarea name="description" class="form-control" placeholder="Enter project description"></textarea>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Upload Files</label>
                        <input name="file" class="form-control" type="file">
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn" onclick="submitCreateForm(event)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Create Project Modal -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Add JavaScript code to handle form submission and show SweetAlert messages -->
<!-- jQuery -->
<script src="{%static 'assets/js/jquery-3.7.1.min.js'%}"></script>
		
<script>
	
	$(document).ready(function(){
        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD', // Date-only format
            // Additional configurations to ensure time is not included
            ignoreReadonly: true,
            allowInputToggle: true
        });
    });
		
	function loadCreateProjectForm() {
		fetch("{% url 'taskboard:create_project' %}")
        .then(response => response.text())
        .then(data => {            
            // Create a temporary element to hold the form HTML
            var tempElement = document.createElement('div');
            tempElement.innerHTML = data;

            // Find the form element in the temporary element
            var formElement = tempElement.querySelector('#create_form');

            // Append the form to the modal body
            var modalBody = document.querySelector('#add_project .modal-body');
            modalBody.innerHTML = '';
            modalBody.appendChild(formElement);

            // Show the modal
            $('#add_project').modal('show');
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
	
	function submitCreateForm(event) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('create_form');
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}

	function showSweetAlert(message, status, redirectUrl) {
	if (status === 'true') {
		Swal.fire({
		icon: 'success',
		title: 'Success!',
		text: message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click

		didClose: () => {
			if (redirectUrl) {
			// Combine the redirect URL with the current protocol and host to get the full URL
			var fullRedirectUrl = window.location.origin + redirectUrl;
			window.location.href = fullRedirectUrl;
			}
		}
		});
	} else if (status === 'form_error') {
		Swal.fire({
		icon: 'error',
		title: 'Form Validation Error!',
		html: message,  // Display form errors as HTML
		showConfirmButton: true,
		allowOutsideClick: false,
		});
	} else if (status === 'false') {
		Swal.fire({
		icon: 'error',
		title: 'Form Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	} else {
		Swal.fire({
		icon: 'error',
		title: 'Error!',
		text: 'Error: ' + message,
		showConfirmButton: true,
		allowOutsideClick: false, // Prevent closing on outside click
		});
	}
	}

	function submitUpdateForm(event,projectId) {
	event.preventDefault();  // Prevent the default form submission behavior
	var form = document.getElementById('update_form_' + projectId);
	var formData = new FormData(form);

	fetch(form.action, {
		method: 'POST',
		body: formData,
	})
	.then(response => response.json())
	.then(data => {
		// Corrected variable name here
		if (data.status === 'true') {
		showSweetAlert(data.message, data.status, data.redirect_url);
		} else if (data.status === 'form_error') {
		showSweetAlert(data.message, 'form_error');
		} else if (data.status === 'false') {
		showSweetAlert(data.message, data.status);
		} else {
		showSweetAlert(data.message, 'error');
		}
	})
	.catch(error => {
		console.error('Error:', error);
	});
	}

	// Function to handle delete action
	function handleDelete(pk) {
		Swal.fire({
			title: "Are you sure?",
			text: "Once deleted, you will not be able to recover this project!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Yes, delete it!"
		})
		.then((result) => {
			if (result.isConfirmed) {
				// If user confirms, send Fetch API request to delete
				fetch('/app/project/delete-project/' + pk + '/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}'
					},
				})
				.then(response => response.json())
				.then(data => {
					// Handle success response
					if (data.status === "true") {
						showDeleteSweetAlert(data.message, data.status, data.redirect_url);
					} else {
						Swal.fire("Error", "An error occurred while deleting.", "error");
					}
				})
				.catch(() => {
					// Handle error
					Swal.fire("Error", "An error occurred while processing the request.", "error");
				});
			} else {
				Swal.fire("Project is safe!");
			}
		});
	}
	function showDeleteSweetAlert(message, status, redirectUrl) {
		
		if (status === 'true') {
			Swal.fire({
			icon: 'success',
			title: 'Success!',
			text: message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
		
			didClose: () => {
				if (redirectUrl) {
				// Combine the redirect URL with the current protocol and host to get the full URL
				var fullRedirectUrl = window.location.origin + redirectUrl;
				window.location.href = fullRedirectUrl;
				}
			}
			});
		} else {
			Swal.fire({
			icon: 'error',
			title: 'Error!',
			text: 'Error: ' + message,
			showConfirmButton: true,
			allowOutsideClick: false, // Prevent closing on outside click
			});
		}
		}		
	
		// Attach click event to delete button
		document.querySelectorAll('.remove').forEach(function(el) {
			el.addEventListener('click', function(e) {
				e.preventDefault();
				var pk = this.getAttribute('data-id');
				handleDelete(pk);
			});
		});

</script>


{% endblock %}           